@model HR.Web.ViewModels.CompanyVm
@using (Html.BeginForm("Company", "Administration", FormMethod.Post, new
{ id = "frmCompany", name = "frmCompany", enctype = "multipart/form-data" }))
{
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-hovered panel-stacked mb10">
                    <div class="panel-heading">Company</div>

                    <div class="panel-body">
                        <div class="row css5">

                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">CompanyCode</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.company.CompanyCode, new { @class = "form-control" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">IsActive</span>
                                </label>
                                <div class="ui-toggle ui-toggle-sm ui-toggle-primary mb10">
                                    <label class="ui-toggle-inline">
                                        <label class="ui-toggle-inline">
                                            <input id="IsActive" name="IsActive.Value" type="checkbox">
                                            <span></span>
                                        </label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Company Name</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.company.CompanyName, new { @class = "form-control" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Registration No</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.company.RegNo, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">InCorporate Date</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-group date " id="CorporationDate">
                                        @Html.TextBoxFor(x => x.company.InCorporationDate, new { @class = "form-control dtCss" })
                                        <span class="input-group-addon">
                                            <i class="ion ion-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Tax ID</span>
                                </label>
                                <div class="col-md-4">
                                    @*@Html.TextBoxFor(x => x.Gst, new { @class = "form-control" })*@
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Logo</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.company.Logo, new { type = "file" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
            
        @{Html.RenderPartial("_Address", Model.companyAddress); }
       
        <div class="row">
            <div class="col-md-12">
                <div>
                    <button class="btn btn-primary" type="button" onclick="SaveCompany()">Save</button>
                </div>
            </div>
        </div>
        </div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down'
                },
                format: 'DD/MM/YYYY'
            });

            $('#frmCompany').validate({
                rules: {
                    'company.CompanyCode': {
                        required:true
                    },
                    'company.CompanyName': {
                        required: true
                    },
                    'company.RegNo': {
                        required: true
                    },
                    //'company.InCorporationDate': {
                    //    required: true
                    //},
                    'Address1': {
                        required: true
                    },
                    'CityName': {
                        required: true
                    },
                    'StateName': {
                        required: true
                    },
                    'CountryCode': {
                        required: true
                    },
                    'TelNo': {
                        required: true
                    },
                    'FaxNo': {
                        required: true
                    },
                    'MobileNo': {
                        required: true
                    },
                    'Contact': {
                        required: true
                    },
                    'Email': {
                        'email':true,
                        required: true
                    },
                }
            });
        })
        function SaveCompany()
        {
            if ($('#frmCompany').valid()) {
                $('#frmCompany').submit()
            }

        }
    </script>
}