@model HR.Web.ViewModels.CompanyVm

@section Styles{
    <style type="text/css">
        .icheckbox_flat {
            margin-top: -23px;
        }
    </style>
}
@using (Html.BeginForm("Company", "Administration", FormMethod.Post, new
{ id = "frmCompany", name = "frmCompany", enctype = "multipart/form-data" }))
{
    <div class="page">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    @{Html.RenderPartial("_TreeView", Model.companyTreeVm); }
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default panel-hovered panel-stacked mb10">
                            <div class="panel-heading">Company</div>
                            @Html.HiddenFor(x => x.company.CompanyId)
                            <div class="panel-body">
                                <div class="row css5">

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            <span class="pull-right">CompanyCode</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.company.CompanyCode, new { @class = "form-control" })
                                        </div>
                                        <label class="col-md-2 control-label">
                                            <span class="pull-right">IsActive</span>
                                        </label>
                                        <div class="col-md-4">                                            
                                            <div style="margin-top:20px;">
                                                @Html.CheckBoxFor(x => x.company.IsActive)
                                            </div>
                                        </div>
                                        @*<div class="ui-toggle ui-toggle-sm ui-toggle-primary mb10">
                                            <label class="ui-toggle-inline">
                                                <label class="ui-toggle-inline">
                                                    <input id="IsActive" name="IsActive.Value" type="checkbox">
                                                   
                                                    <span></span>
                                                </label>
                                            </label>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="row css5">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            <span class="pull-right">Company Name</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.company.CompanyName, new { @class = "form-control" })
                                        </div>
                                        <label class="col-md-2 control-label">
                                            <span class="pull-right">Registration No</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.company.RegNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row css5">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            <span class="pull-right">InCorporate Date</span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="input-group date dtCss" id="CorporationDate">
                                                @Html.TextBoxFor(x => x.company.InCorporationDate, new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="ion ion-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <label class="col-md-2 control-label">
                                            <span class="pull-right">Tax ID</span>
                                        </label>
                                        <div class="col-md-4">
                                            @*@Html.TextBoxFor(x => x.Gst, new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row css5">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            <span class="pull-right">Logo</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.company.Logo, new { type = "file" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("_Address", Model.companyAddress); }
                    </div>                    
                </div>
            </div>
        </div>
        
        

        

        <div class="row">
            <div class="col-md-12">
                <div>
                    <button class="btn btn-primary btn-sm" type="button" onclick="SaveCompany()">Save</button>
                </div>
            </div>
        </div>
    </div>
            }

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#li_Admin').addClass('open');
            $('#li_company').addClass('active');
            /*Tree View Starts*/


            /*Tree View Ends*/


            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right'
                },
                format: 'DD/MM/YYYY'
            });

            $('#frmCompany').validate({
                rules: {
                    'company.CompanyCode': {
                        required: true
                    },
                    'company.CompanyName': {
                        required: true
                    },
                    'company.RegNo': {
                        required: true
                    },
                    //'company.InCorporationDate': {
                    //    required: true
                    //},
                    'Address1': {
                        required: true
                    },
                    'CityName': {
                        required: true
                    },
                    'StateName': {
                        required: true
                    },
                    'CountryCode': {
                        required: true
                    },
                    'TelNo': {
                        required: true
                    },
                    'FaxNo': {
                        required: true
                    },
                    'MobileNo': {
                        required: true
                    },
                    'Contact': {
                        required: true
                    },
                    'Email': {
                        'email': true,
                        required: true
                    },
                }
            });
        })
        function SaveCompany() {
            if ($('#frmCompany').valid()) {
                $('#frmCompany').submit()
            }

        }
    </script>
}