@using Newtonsoft.Json;

@model List<HR.Web.ViewModels.companyTreeVm>

<div id="treeview1"></div>

@*<link href="@Url.Content("~/Scripts/treeview/bootstrap.css")" rel="stylesheet" />*@
<script src="@Url.Content("~/Scripts/treeview/jquery.js")"></script>
<script src="@Url.Content("~/Scripts/treeview/bootstrap-treeview.js")"></script>

<script type="text/javascript">
    $(function () {
        
        var obj = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');


        $('#treeview1').treeview({
            color: "#428bca",
            //expandIcon: 'glyphicon glyphicon-chevron-right',
            //collapseIcon: 'glyphicon glyphicon-chevron-down',
            //nodeIcon: 'glyphicon glyphicon-bookmark',
            onNodeSelected: function (event, node) {
                sessionStorage.setItem('SsnSelectedNode', node.nodeId);
                if (node.nodeId == 0) {
                    location.href = '@Url.Content("~/Administration/Company?companyId=")'+node.href;
                }
                else
                    location.href = '@Url.Content("~/Administration/AddBranch?branchId=")' + node.href;

            },
            data: obj
        });

        setTimeout(function () {
            var selectedNode = sessionStorage.getItem('SsnSelectedNode');            
            if (selectedNode == null)
                selectedNode = 0;
            $('li[data-nodeid="' + selectedNode + '"]').addClass('node-selected').css({ 'color': '#FFFFFF', 'background-color': '#428bca' });
            sessionStorage.removeItem('SsnSelectedNode');
        }, 100);
    })
</script>
