@using Newtonsoft.Json;
@model HR.Web.ViewModels.DashBoardVm
@{
    ViewBag.Title = "admindashboard";
}

@section Styles{
    <style type="text/css">
        .page-dashboard .mini-box .icon {
            margin-top: -15px;
            font-size: 43.2px;
        }
    </style>
}

<div class="page page-dashboard">
    <div class="page-wrap">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default mb20 mini-box panel-hovered">
                    <div class="panel-body">
                        <div class="clearfix">
                            <div class="info left">
                                <h3 class="mt0 text-primary text-bold">@Model.EmployeeCount</h3>
                                <h3 class="text-light mb0">Total Employees</h3>
                            </div>
                            <div class="right ion ion-ios-people-outline icon"></div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
                        <p class="mt0 mb0 left">
                            <a style="color:white;" href="@Url.Content("~/Employee/employeedirectory")">Employees</a>
                        </p>
                        @*<span class="sparkline right" data-type="bar" data-barcolor="#fff" data-width="1.15em" data-height="1.15em"><canvas style="display: inline-block; width: 34px; height: 14px; vertical-align: top;" width="34" height="14"></canvas></span>*@
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default mb20 mini-box panel-hovered">
                    <div class="panel-body">
                        <div class="clearfix">
                            <div class="info left">
                                <h4 class="text-light mb0">Casual Leaves</h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
                        <p class="mt0 mb0 left">@Model.totalCLs<span>&nbsp;&nbsp;in this year</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default mb20 mini-box panel-hovered">
                    <div class="panel-body">
                        <div class="clearfix">
                            <div class="info left">
                                <h4 class="text-light mb0">Paid Leaves</h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
                        <p class="mt0 mb0 left">@Model.totalPLs.ToString()<span>&nbsp;&nbsp;in this year</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default mb20 mini-box panel-hovered">
                    <div class="panel-body">
                        <div class="clearfix">
                            <div class="info left">
                                <h4 class="text-light mb0">Sick Leaves</h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
                        <p class="mt0 mb0 left">@Model.totalSLs<span>&nbsp;&nbsp;in this month</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-12">
                <div id="container"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script type= "text/javascript">
            var dataArray = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.lineChartData))');
            var xAxisData = new Array();
            var yAxisData = new Array();

            for (var i = 0; i < dataArray.length; i++) {
                xAxisData.push(dataArray[i].Month);
                yAxisData.push(dataArray[i].Count);
            }


            Highcharts.chart('container', {
                title: {
                    text: 'Employees Data'
                },                
                xAxis: {
                    categories: xAxisData
                },
                yAxis: {
                    title: {
                        text: 'Number of Employees'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },                
                series: [{
                    name: 'Employees',
                    data: yAxisData
                }],
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
</script>
}


