@model HR.Web.ViewModels.LeaveReportVm
@{
    ViewBag.Title = "DashboardofLeaveReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    var listMonths = new List<SelectListItem>()
{
new SelectListItem {Text = "All",   Value = "0"},
new SelectListItem {Text = "January",   Value = "1"},
new SelectListItem {Text = "February", Value = "2"},
new SelectListItem {Text = "March", Value = "3"},
new SelectListItem {Text = "April",   Value = "4"},
new SelectListItem {Text = "May", Value = "5"},
new SelectListItem {Text = "June", Value = "6"},
new SelectListItem {Text = "July",   Value = "7"},
new SelectListItem {Text = "August", Value = "8"},
new SelectListItem {Text = "September", Value = "9"},
new SelectListItem {Text = "October",   Value = "10"},
new SelectListItem {Text = "November", Value = "11"},
new SelectListItem {Text = "December", Value = "12"}
};
}

@section Styles{
    <link src="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link src="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <style>
        th, td {
            white-space: nowrap;
        }

        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        .table-striped td {
            background: #fff;
        }


        .pd-generate {
            padding: 15px;
        }


        th, td {
            white-space: nowrap;
        }

        .table-striped td {
            background: #fff;
        }
        /*.dsp-none{
                display:none;
            }*/
        /*#dtid2{
                display:none;
            }*/
    </style>
    <style>
        .oval {
            width: 200px;
            height: 100px;
            background: #3f51b5;
            -moz-border-radius: 100px / 50px;
            -webkit-border-radius: 100px / 50px;
            border-radius: 100px / 50px;
        }

        .css10 {
            margin-top: 30px
        }
        .canvasjs-chart-credit{
            display:none!important
        }
    </style>
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="box" id="grid">
                    <div class="box-header">
                        <h4>Leave Report</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">
                                            <span class="pull-right">Country</span>
                                        </label>
                                        @if (ViewData["RoleCode"].ToString() == "ADMIN")
                                        {
                                            <div class="col-md-3">
                                                @Html.DropDownListFor(x => x.BranchID, SelectListItemHelper.ActiveCountryList(), new { @class = "form-control input-sm", disabled = true })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-3">
                                                @Html.DropDownListFor(x => x.BranchID, SelectListItemHelper.ActiveCountryList(), new { @class = "form-control input-sm", onchange = "ChangeMonth()" })
                                            </div>
                                        }
                                        <label class="col-md-1 control-label">
                                            <span class="pull-right">Year</span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.Year, Enumerable.Range(2016, 20).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control input-sm", onchange = "ChangeMonth();", @style = "width:60%" })
                                        </div>
                                        <label class="col-md-1 control-label">
                                            <span class="pull-right">Employee</span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.EmployeeID, SelectListItemHelper.EmployeeList(Model.BranchID.Value), "All", new { @class = "form-control input-sm", onchange = "ChangeMonth()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h3 style="color:red">
                                        LEAVE BALANCE
                                    </h3>
                                </div>

                            </div>

                        </div>
                        <div class="row" style="padding-left:20px">
                            <div class="col-md-8" style="padding-top:100px">
                                <div class="row" style="margin-top:10px; border:1px solid #d2d6de">
                                    <div id="chartContainer0" style="height: 100%; width: 100%;"></div>
                                </div>
                            </div>
                            <div class="col-md-4" style="padding-left:120px">
                                <div class="row css10 oval" style="padding-left:90px;padding-top:20px">
                                    <h2 style="color:white">6</h2>
                                </div>
                                <div class="row css10 oval" style="padding-left:90px;padding-top:20px">
                                    <h2 style="color:white">10</h2>
                                </div>
                                <div class="row css10 oval" style="padding-left:90px;padding-top:20px">
                                    <h2 style="color:white">1</h2>
                                </div>
                                <div class="row css10 oval" style="padding-left:90px;padding-top:20px">
                                    <h2 style="color:white">3</h2>
                                </div>
                                <div class="row css10 oval" style="padding-left:90px;padding-top:20px">
                                    <h2 style="color:white">6</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <h3>Availed</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>Balance</h3>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-12 css10">
                                        @if (Model.dtAvailed != null && Model.dtAvailed.Rows.Count > 0)
                                        {
                                            <script type="text/javascript">
                                                $(function () {
                                                    // //$('#payslipBatchHeader_BatchNo').val('');
                                                });
                                            </script>
                                            <table id="dtAvailed" class="example table table-striped table-bordered nowrap stripe order-column" style="width:100%">
                                                <thead>
                                                    @for (var i = 0; i < Model.dtAvailed.Columns.Count; i++)
                                                    {
                                                        <text>
                                                        <th>@Model.dtAvailed.Columns[i].ColumnName</th>
                                                        </text>
                                                    }
                                                    </thead>
                                                    <tbody>
                                                        @for (var i = 0; i < Model.dtAvailed.Rows.Count; i++)
                                                        {
                                                            <tr>
                                                                @for (var j = 0; j < Model.dtAvailed.Columns.Count; j++)
                                                                {
                                                                    <td>
                                                                        @if (Model.dtAvailed.Rows[i][Model.dtAvailed.Columns[j].ColumnName] != null)
                                                                        {
                                                                            <text>
                                                                                @Model.dtAvailed.Rows[i][Model.dtAvailed.Columns[j].ColumnName].ToString()
                                                                            </text>
                                                                        }
                                                                    </td>
                                                                }
                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12 css10">
                                        @if (Model.dtBalance != null && Model.dtBalance.Rows.Count > 0)
                                        {
                                            <script type="text/javascript">
                                                $(function () {
                                                    // //$('#payslipBatchHeader_BatchNo').val('');
                                                });
                                            </script>
                                            <table id="dtBalance" class="example table table-striped table-bordered nowrap stripe order-column" style="width:100%">
                                                <thead>
                                                    @for (var i = 0; i < Model.dtBalance.Columns.Count; i++)
                                                    {
                                                        <text>
                                                        <th>@Model.dtBalance.Columns[i].ColumnName</th>
                                                        </text>
                                                    }
                                                    </thead>
                                                    <tbody>
                                                        @for (var i = 0; i < Model.dtBalance.Rows.Count; i++)
                                                        {
                                                            <tr>
                                                                @for (var j = 0; j < Model.dtBalance.Columns.Count; j++)
                                                                {
                                                                    <td>
                                                                        @if (Model.dtBalance.Rows[i][Model.dtBalance.Columns[j].ColumnName] != null)
                                                                        {
                                                                            <text>
                                                                                @Model.dtBalance.Rows[i][Model.dtBalance.Columns[j].ColumnName].ToString()
                                                                            </text>
                                                                        }
                                                                    </td>
                                                                }
                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*<script src="https://canvasjs.com/docs/charts/chart-types/html5-line-chart/" type="text/javascript"></script>
        <script src="https://canvasjs.com/javascript-charts/line-chart-data-markers/" type="text/javascript"></script>*@
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/select2/select2/master/dist/js/select2.full.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/select2/select2/master/dist/css/select2.min.css">

    <script>
        $(window).load(function () {
            $('select').select2({});
        });
         function ChangeMonth() {
            var Branchid = $('#BranchID').val();
            var Year = $('#Year').val();
            var EmployeeID = $('#EmployeeID').val() != ""?$('#EmployeeID').val():0;
            window.location = '@Url.Content("~/Dashboard/DashboardofLeaveReport?BranchId=")' + Branchid + "&Year=" + Year + "&EmployeeId=" + EmployeeID
        }
        $(function () {
            $('#li_Dashboard').addClass('open');
            $('#li_leaveReport').addClass('active');

            var table = $('.example').DataTable({
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                searching: false,
                bInfo: false,
                autoWidth: true,
                fixedColumns: {
                    leftColumns: 1
                },
                columnDefs: [
                    {
                        "targets": [],
                        "visible": false
                    }
                ],
            });


        });
            var chart = new CanvasJS.Chart("chartContainer0", {
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                animationEnabled: true,
                title: {
                    text: 'leaves'
                },
                axisX: {
                    interval: 1,
                    intervalType: "month",
                    valueFormatString: "MMM"
                },
                toolTip: {
                    borderColor: "red"   //change color
                },
                axisY: {
                    title: "",
                    valueFormatString: "$#0",
                    stripLines: [{
                        value: 1,
                        label: 'leave',
                        labelFontSize: 9,
                    }],
                },
                data: [{
                    type: "line",
                    markerSize: 12,
                    xValueFormatString: "MMM, YYYY",
                    yValueFormatString: "$###.#",
                    dataPoints: [
                        { x: new Date(new Date().getFullYear(), 00, 1), y: 61, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 01, 1), y: 71, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 02, 1), y: 55, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 03, 1), y: 50, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 04, 1), y: 65, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 05, 1), y: 85, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 06, 1), y: 68, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 07, 1), y: 28, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 08, 1), y: 34, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 09, 1), y: 24, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 10, 1), y: 44, markerType: "circle", markerColor: "lightblue" },
                        { x: new Date(new Date().getFullYear(), 11, 1), y: 34, markerType: "circle", markerColor: "lightblue" }
                    ]
                },
                    {
                        type: "line",
                        markerSize: 12,
                        xValueFormatString: "MMM, YYYY",
                        yValueFormatString: "$###.#",
                        dataPoints: [
                            { x: new Date(new Date().getFullYear(), 00, 1), y: 10, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 01, 1), y: 20, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 02, 1), y: 40, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 03, 1), y: 50, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 04, 1), y: 60, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 05, 1), y: 85, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 06, 1), y: 68, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 07, 1), y: 80, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 08, 1), y: 100, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 09, 1), y: 40, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 10, 1), y: 44, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 11, 1), y: 34, markerType: "circle", markerColor: "lightblue" }
                        ]
                    },
                    {
                        type: "line",
                        markerSize: 12,
                        xValueFormatString: "MMM, YYYY",
                        yValueFormatString: "$###.#",
                        dataPoints: [
                            { x: new Date(new Date().getFullYear(), 00, 1), y: 100, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 01, 1), y: 94, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 02, 1), y: 40, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 03, 1), y: 50, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 04, 1), y: 60, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 05, 1), y: 85, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 06, 1), y: 70, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 07, 1), y: 80, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 08, 1), y: 100, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 09, 1), y: 40, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 10, 1), y: 44, markerType: "circle", markerColor: "lightblue" },
                            { x: new Date(new Date().getFullYear(), 11, 1), y: 34, markerType: "circle", markerColor: "lightblue" }
                        ]
                    }
                ]

            });
            chart.render();
            //count++;
       // }
    </script>
}