@model IEnumerable<HR.Web.Models.usp_EmployeeDetail_Result>
@{
    ViewBag.Title = "DashboardofEmployeeData";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}

@{

    var listMonths = new List<SelectListItem>()
{
new SelectListItem {Text = "All",   Value = "0"},
new SelectListItem {Text = "January",   Value = "1"},
new SelectListItem {Text = "February", Value = "2"},
new SelectListItem {Text = "March", Value = "3"},
new SelectListItem {Text = "April",   Value = "4"},
new SelectListItem {Text = "May", Value = "5"},
new SelectListItem {Text = "June", Value = "6"},
new SelectListItem {Text = "July",   Value = "7"},
new SelectListItem {Text = "August", Value = "8"},
new SelectListItem {Text = "September", Value = "9"},
new SelectListItem {Text = "October",   Value = "10"},
new SelectListItem {Text = "November", Value = "11"},
new SelectListItem {Text = "December", Value = "12"}
};
}
<style>
    .oval {
        width: 150px;
        height: 75px;
        background: #3f51b5;
    }
</style>
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="box" id="grid">
                    <div class="box-header">
                        <h4>Employee Data Report</h4>
                    </div>
                    <div class="box-body">
                        <div class="row css5">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Country</span>
                                    </label>
                                    @if (ViewData["RoleCode"].ToString() == "ADMIN")
                                    {
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.FirstOrDefault().branchid, SelectListItemHelper.ActiveCountryList(), new { @class = "form-control input-sm" ,disabled=true})
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.FirstOrDefault().branchid, SelectListItemHelper.ActiveCountryList(), new { @class = "form-control input-sm", onchange="EmployeeDataByCountry(this)" })
                                        </div>
                                    }

                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Male</span>
                                    </label>
                                    <div class="col-md-3">
                                        <div class="row oval" style="padding-left:60px;padding-top:4px">
                                            <h2 style="color:white">@ViewData["MaleCount"]</h2>
                                        </div>
                                    </div>
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Female</span>
                                    </label>
                                    <div class="col-md-3">
                                        <div class="row oval" style="padding-left:60px;padding-top:4px">
                                            <h2 style="color:white">@ViewData["FeMaleCount"]</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="jqChartPie" style="width: 300px; height: 200px;"></div>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Employee Id</th>
                                            <th>Employee No</th>
                                            <th>Employee Name</th>
                                            <th>Job Title</th>
                                            <th>Contact No</th>
                                            <th>Personal EmailId</th>
                                            <th>Joining Date</th>
                                            <th>Date Of Birth</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.ToList())
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.EmployeeId</td>
                                                <td>@item.EmployeeNo</td>
                                                <td>@item.EmployeeName</td>
                                                <td>@item.JobTitle</td>
                                                <td>@item.ContactNo</td>
                                                <td>@item.PersonalEmailId</td>
                                                <td>@item.JoiningDate.Value.ToString("dd/MM/yyyy")</td>
                                                <td>@item.DateOfBirth.Value.ToString("dd/MM/yyyy")</td>
                                            </tr>
                                            count++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $('#li_Dashboard').addClass('open');
            $('#li_employeeData').addClass('active');
            @if(Model.ToList().Count!=0) {
                <text>
                $('#branchid').val('@Model.FirstOrDefault().branchid');
                </text>
            }
           
        });
        function EmployeeDataByCountry(el) {
            window.location = '@Url.Content("~/Dashboard/DashboardofEmployeeData?branchid=")'+el.value +"&role=SUPERADMIN"
        }
    </script>
    <script lang="javascript" type="text/javascript">
        $(document).ready(function () {

            var background = {
                type: 'linearGradient',
                x0: 0,
                y0: 0,
                x1: 0,
                y1: 1
            };

            $('#jqChartPie').jqChart({
                title: { text: '' },
                legend: { title: 'Countries', visible: false },
                shadows: {
                    enabled: false
                },
                border: { visible: false },
                series: [
                    {
                        type: 'doughnut',
                        innerExtent: 0.5,
                        outerExtent: 1.0,
                        fillStyles: ['#418CF0', '#FCB441'],
                        labels: {
                            stringFormat: '%.1f%%',
                            valueType: 'percentage',
                            font: '15px sans-serif',
                            fillStyle: 'balck'
                        },
                        data: [['Male', @ViewData["MaleCount"]], ['FeMale', @ViewData["FeMaleCount"]]],
                        labelsPosition: 'outside', // inside, outside
                        labelsAlign: 'circle', // circle, column
                        labelsExtend: 20,
                        leaderLineWidth: 1,
                        leaderLineStrokeStyle: 'black'
                    }
                ]
            });
        });
    </script>
}