@model HR.Web.ViewModels.LeaveReportVm
@{
    ViewBag.Title = "DashboardofLeaveReport";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var LeaveType = Model.consReport.Select(x => x.LeaveType).Distinct();
    var colorCnt = 0;
}
@{

    var listMonths = new List<SelectListItem>()
{
new SelectListItem {Text = "All",   Value = "0"},
new SelectListItem {Text = "January",   Value = "1"},
new SelectListItem {Text = "February", Value = "2"},
new SelectListItem {Text = "March", Value = "3"},
new SelectListItem {Text = "April",   Value = "4"},
new SelectListItem {Text = "May", Value = "5"},
new SelectListItem {Text = "June", Value = "6"},
new SelectListItem {Text = "July",   Value = "7"},
new SelectListItem {Text = "August", Value = "8"},
new SelectListItem {Text = "September", Value = "9"},
new SelectListItem {Text = "October",   Value = "10"},
new SelectListItem {Text = "November", Value = "11"},
new SelectListItem {Text = "December", Value = "12"}
};
}

@section Styles{
    <link src="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link src="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <style>
        th, td {
            white-space: nowrap;
        }

        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        .table-striped td {
            background: #fff;
        }


        .pd-generate {
            padding: 15px;
        }


        th, td {
            white-space: nowrap;
        }

        .table-striped td {
            background: #fff;
        }
        /*.dsp-none{
                display:none;
            }*/
        /*#dtid2{
                display:none;
            }*/
    </style>
    <style>
        .oval {
            width: 150px;
            height: 75px;
            background: #3f51b5;
            -moz-border-radius: 100px / 50px;
            -webkit-border-radius: 100px / 50px;
            border-radius: 100px / 50px;
        }

        .css10 {
            margin-top: 30px
        }

        .canvasjs-chart-credit {
            display: none !important
        }
    </style>
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="box" id="grid">
                    <div class="box-header">
                        <h4>Leave Report</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">
                                            <span class="pull-right">Country</span>
                                        </label>
                                        @if (ViewData["RoleCode"].ToString() == "ADMIN")
                                        {
                                            <div class="col-md-3">
                                                @Html.DropDownListFor(x => x.BranchID, SelectListItemHelper.ActiveCountryList(), new { @class = "form-control input-sm", disabled = true })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-3">
                                                @Html.DropDownListFor(x => x.BranchID, SelectListItemHelper.ActiveCountryList(), new { @class = "form-control input-sm", onchange = "ChangeMonth()" })
                                            </div>
                                        }
                                        <label class="col-md-1 control-label">
                                            <span class="pull-right">Year</span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.Year, Enumerable.Range(2016, 20).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control input-sm", onchange = "ChangeMonth();", @style = "width:60%" })
                                        </div>
                                        <label class="col-md-1 control-label">
                                            <span class="pull-right">Employee</span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.EmployeeID, SelectListItemHelper.EmployeeList(Model.BranchID.Value), "All", new { @class = "form-control input-sm", onchange = "ChangeMonth()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    @*<h3 style="color:red">
                                        LEAVE BALANCE
                                    </h3>*@
                                </div>

                            </div>

                        </div>
                        <div class="row" style="padding-left:20px;">
                            <div class="col-md-12" style="height:370px">
                                <div class="col-md-8">
                                    <div class="row" style="margin-top:10px; border:1px solid #d2d6de">
                                        <div id="chartContainer0" style="height: 100%; width: 100%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-left:120px">
                                    @foreach (var item in Model.consReport.Select(x => x.LeaveType).Distinct())
                                    {
                                        <text>                                        
                                        <div class="row oval" style="text-align:center;padding-top:20px">
                                            <span style="color:white">@item<br />@Model.consReport.Where(x=>x.LeaveType==item).FirstOrDefault().BalanceLeaves</span>
                                        </div>
                                        </text>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <h3>Availed</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>Balance</h3>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        @if (Model.dtAvailed != null && Model.dtAvailed.Rows.Count > 0)
                                        {
                                            <script type="text/javascript">
                                                $(function () {
                                                    // //$('#payslipBatchHeader_BatchNo').val('');
                                                });
                                            </script>
                                            <table id="dtAvailed" class="example table table-striped table-bordered nowrap stripe order-column" style="width:100%">
                                                <thead>
                                                    @for (var i = 0; i < Model.dtAvailed.Columns.Count; i++)
                                                    {
                                                        <text>
                                                        <th>@Model.dtAvailed.Columns[i].ColumnName</th>
                                                        </text>
                                                    }
                                                    </thead>
                                                    <tbody>
                                                        @for (var i = 0; i < Model.dtAvailed.Rows.Count; i++)
                                                        {
                                                            <tr>
                                                                @for (var j = 0; j < Model.dtAvailed.Columns.Count; j++)
                                                                {
                                                                    <td>
                                                                        @if (Model.dtAvailed.Rows[i][Model.dtAvailed.Columns[j].ColumnName] != null)
                                                                        {
                                                                            <text>
                                                                                @Model.dtAvailed.Rows[i][Model.dtAvailed.Columns[j].ColumnName].ToString()
                                                                            </text>
                                                                        }
                                                                    </td>
                                                                }
                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        @if (Model.dtBalance != null && Model.dtBalance.Rows.Count > 0)
                                        {
                                            <script type="text/javascript">
                                                $(function () {
                                                    // //$('#payslipBatchHeader_BatchNo').val('');
                                                });
                                            </script>
                                            <table id="dtBalance" class="example table table-striped table-bordered nowrap stripe order-column" style="width:100%">
                                                <thead>
                                                    @for (var i = 0; i < Model.dtBalance.Columns.Count; i++)
                                                    {
                                                        <text>
                                                        <th>@Model.dtBalance.Columns[i].ColumnName</th>
                                                        </text>
                                                    }
                                                    </thead>
                                                    <tbody>
                                                        @for (var i = 0; i < Model.dtBalance.Rows.Count; i++)
                                                        {
                                                            <tr>
                                                                @for (var j = 0; j < Model.dtBalance.Columns.Count; j++)
                                                                {
                                                                    <td>
                                                                        @if (Model.dtBalance.Rows[i][Model.dtBalance.Columns[j].ColumnName] != null)
                                                                        {
                                                                            <text>
                                                                                @Model.dtBalance.Rows[i][Model.dtBalance.Columns[j].ColumnName].ToString()
                                                                            </text>
                                                                        }
                                                                    </td>
                                                                }
                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*<script src="https://canvasjs.com/docs/charts/chart-types/html5-line-chart/" type="text/javascript"></script>
        <script src="https://canvasjs.com/javascript-charts/line-chart-data-markers/" type="text/javascript"></script>*@
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/select2/select2/master/dist/js/select2.full.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/select2/select2/master/dist/css/select2.min.css">

    <script>
        $(window).load(function () {
            $('select').select2({});
        });
         function ChangeMonth() {
            var Branchid = $('#BranchID').val();
            var Year = $('#Year').val();
            var EmployeeID = $('#EmployeeID').val() != ""?$('#EmployeeID').val():0;
            window.location = '@Url.Content("~/Dashboard/DashboardofLeaveReport?BranchId=")' + Branchid + "&Year=" + Year + "&EmployeeId=" + EmployeeID
        }
        $(function () {
            $('#li_Dashboard').addClass('open');
            $('#li_leaveReport').addClass('active');
            $('#BranchID').val('@Model.BranchID.Value');

            var table = $('.example').DataTable({
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                searching: false,
                bInfo: false,
                autoWidth: true,
                fixedColumns: {
                    leftColumns: 0
                },
                columnDefs: [
                    {
                        "targets": [],
                        "visible": false
                    }
                ],
            });


        });
        debugger;
        var fillStyles = ['#6495ED', '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B',
            '#418CF0', '#FCB441', '#E0400A', '#056492', '#1A3B69', '#0000FF',
            '#8A2BE2', '#A52A2A', '#DEB887', '#5F9EA0', '#D2691E', '#FF7F50',

            '#006400', '#8B008B', '#556B2F', '#FF8C00', '#8B0000', '#FF1493',
            '#1E90FF', '#B22222', '#228B22', '#008000', '#4B0082', '#F08080',
            '#00FF00', '#0000CD', '#FF4500', '#800080', '#9ACD32', '#008080',
        ];

        var chart = new CanvasJS.Chart("chartContainer0", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            animationEnabled: true,
            title: {
                //text: 'leaves'
            },
            axisX: {
                interval: 1,
                intervalType: "month",
                valueFormatString: "MMM"
            },
            toolTip: {
                borderColor: "red"   //change color
            },
            axisY: {
                title: "",
                //valueFormatString: "$#0",
                stripLines: [{
                    value: 1,
                    label: 'leave',
                    labelFontSize: 9,
                }],
            },
            data: [
                @foreach (var item in LeaveType.ToList())
                {
                    var cnt = 0;
                    <text>
                    {
                    type: "spline",
                    //lineColor: fillStyles[@colorCnt],
                        markerSize: 12,
                        xValueFormatString: "MMM, YYYY",
                        //yValueFormatString: "$###.#",
                    showInLegend: true,
                    name: '@item',
                        dataPoints: [
                                @foreach (var info in Model.consReport.Where(l => l.LeaveType == item).ToList())
                                {
                                <text>
                                    { x: new Date(@Model.Year, @cnt, 1), y: @info.TotalLeaves, markerType: "circle", markerColor: "lightblue" },

                                </text>
                                    cnt++;
                                }
                            ]
                        },
                    </text>
                    colorCnt++;
                }
                ]

            });
            chart.render();
            //count++;
       // }
    </script>
}