@model HR.Web.ViewModels.SalaryComponantReportVm
@{
    ViewBag.Title = "DashboardofSalaryComponents";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var count = 0;
}
@{

    var listMonths = new List<SelectListItem>()
{
new SelectListItem {Text = "All",   Value = "0"},
new SelectListItem {Text = "January",   Value = "1"},
new SelectListItem {Text = "February", Value = "2"},
new SelectListItem {Text = "March", Value = "3"},
new SelectListItem {Text = "April",   Value = "4"},
new SelectListItem {Text = "May", Value = "5"},
new SelectListItem {Text = "June", Value = "6"},
new SelectListItem {Text = "July",   Value = "7"},
new SelectListItem {Text = "August", Value = "8"},
new SelectListItem {Text = "September", Value = "9"},
new SelectListItem {Text = "October",   Value = "10"},
new SelectListItem {Text = "November", Value = "11"},
new SelectListItem {Text = "December", Value = "12"}
};
}

@section Styles{
    <link src="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link src="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <style>
        th, td {
            white-space: nowrap;
        }

        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        .table-striped td {
            background: #fff;
        }


        .pd-generate {
            padding: 15px;
        }


        th, td {
            white-space: nowrap;
        }

        .table-striped td {
            background: #fff;
        }
        /*.dsp-none{
                display:none;
            }*/
        /*#dtid2{
                display:none;
            }*/
    </style>

    <style type="text/css">
        .widthcss {
            width: 40%
        }

        .css5 {
            padding-top: 10px
        }
    </style>
}

<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="box" id="grid">
                    <div class="box-header">
                        <h4>Salary Components</h4>
                    </div>
                    <div class="box-body">
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Country</span>
                                </label>

                                @if (ViewData["RoleCode"].ToString() == "ADMIN")
                                {
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.BranchID, SelectListItemHelper.ActiveCountryListForSC(), new { @class = "form-control input-sm", disabled = true })
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.BranchID, SelectListItemHelper.ActiveCountryListForSC(), new { @class = "form-control input-sm", onchange = "ChangeMonth()" })
                                    </div>
                                }
                                @*<div class="col-md-2">
                                        @Html.DropDownListFor(x=>x.BranchID, SelectListItemHelper.ActiveCountryList(), new { @class = "form-control input-sm" })
                                    </div>*@
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Year</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.Year, Enumerable.Range(2016, 20).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control input-sm", onchange = "ChangeMonth()", @style = "width:60%" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Month</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.Month, listMonths, new { @class = "form-control input-sm", onchange = "ChangeMonth()", @style = "width:70%" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Employee</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.EmployeeID, SelectListItemHelper.EmployeeList(Model.BranchID == null ? -1 : Model.BranchID.Value), "All", new { @class = "form-control input-sm", onchange = "ChangeMonth()" })
                                </div>
                            </div>
                        </div>

                        @*@for (int i = 0; i < 10; i++)
                            {
                                <div class="row css5">
                                    <div class="col-md-7">
                                        <div id="jqChartPie"@i style="width: 100%; height: 300px;"></div>
                                    </div>
                                    <div class="col-md-5">
                                        <div id="jqChart"@i style="width: 100%; height: 300px;"></div>
                                    </div>
                                </div>

                            }*@
                        <div class="row css5">
                            <div class="col-md-7">
                                <div id="jqChartPie0" style="width: 100%; height: 300px;"></div>
                            </div>
                            <div class="col-md-5">
                                <div id="jqChart0" style="width: 100%; height: 300px;"></div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="col-md-7">
                                <div id="jqChartPie1" style="width: 100%; height: 300px;"></div>
                            </div>
                            <div class="col-md-5">
                                <div id="jqChart1" style="width: 100%; height: 300px;"></div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="col-md-7">
                                <div id="jqChartPie2" style="width: 100%; height: 300px;"></div>
                            </div>
                            <div class="col-md-5">
                                <div id="jqChart2" style="width: 100%; height: 300px;"></div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="col-md-7">
                                <div id="jqChartPie3" style="width: 100%; height: 300px;"></div>
                            </div>
                            <div class="col-md-5">
                                <div id="jqChart3" style="width: 100%; height: 300px;"></div>
                            </div>
                        </div>
                        @*<div class="row css5">
                                <div class="col-md-7">
                                    <div id="jqChartPie4" style="width: 100%; height: 300px;"></div>
                                </div>
                                <div class="col-md-5">
                                    <div id="jqChart4" style="width: 100%; height: 300px;"></div>
                                </div>
                            </div>
                            <div class="row css5">
                                <div class="col-md-7">
                                    <div id="jqChartPie5" style="width: 100%; height: 300px;"></div>
                                </div>
                                <div class="col-md-5">
                                    <div id="jqChart5" style="width: 100%; height: 300px;"></div>
                                </div>
                            </div>
                            <div class="row css5">
                                <div class="col-md-7">
                                    <div id="jqChartPie6" style="width: 100%; height: 300px;"></div>
                                </div>
                                <div class="col-md-5">
                                    <div id="jqChart7" style="width: 100%; height: 300px;"></div>
                                </div>
                            </div>*@

                        @if (ViewData["RoleCode"].ToString() == "ADMIN")
                        {
                            <div class="row css10">
                                <h4>Summary Report</h4>
                                <div class="col-md-12 css10">
                                    @if (Model.dt != null && Model.dt.Rows.Count > 0)
                                    {
                                        <script type="text/javascript">
                                            $(function () {
                                                // //$('#payslipBatchHeader_BatchNo').val('');
                                            });
                                        </script>
                                        <table id="example" class="table table-striped table-bordered nowrap stripe order-column" style="width:100%">
                                            <thead>
                                                @for (var i = 0; i < Model.dt.Columns.Count; i++)
                                                {
                                                    <text>
                                                    <th style="min-width:160px;">@Model.dt.Columns[i].ColumnName</th>
                                                    </text>
                                                }
                                                </thead>
                                                <tbody>
                                                    @for (var i = 0; i < Model.dt.Rows.Count; i++)
                                                    {
                                                        if (i == Model.dt.Rows.Count - 1)
                                                        {
                                                            <text>
                                                                <tr style="color:red">
                                                                    @for (var j = 0; j < Model.dt.Columns.Count; j++)
                                                                    {
                                                                        <td>
                                                                            @if (Model.dt.Rows[i][Model.dt.Columns[j].ColumnName] != null)
                                                                            {
                                                                                <text>
                                                                                    @Model.dt.Rows[i][Model.dt.Columns[j].ColumnName].ToString()
                                                                                </text>
                                                                            }
                                                                        </td>
                                                                    }
                                                                </tr>
                                                            </text>
                                                        }
                                                        else
                                                        {
                                                            <text>
                                                                <tr>
                                                                    @for (var j = 0; j < Model.dt.Columns.Count; j++)
                                                                    {
                                                                        <td>
                                                                            @if (Model.dt.Rows[i][Model.dt.Columns[j].ColumnName] != null)
                                                                            {
                                                                                <text>
                                                                                    @Model.dt.Rows[i][Model.dt.Columns[j].ColumnName].ToString()
                                                                                </text>
                                                                            }
                                                                        </td>
                                                                    }
                                                                </tr>
                                                            </text>
                                                        }

                                                    }
                                                </tbody>
                                            </table>
                                        }
                                </div>

                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/select2/select2/master/dist/js/select2.full.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/select2/select2/master/dist/css/select2.min.css">
    <script>
        $(window).load(function () {
            $('select').select2({});
        });

        function ChangeMonth() {
            var Branchid = $('#BranchID').val();
            var Year = $('#Year').val();
            var Month = $('#Month').val();
            var EmployeeID = $('#EmployeeID').val() != ""?$('#EmployeeID').val():0;
            window.location = '@Url.Content("~/Dashboard/DashboardofSalaryComponents?BranchId=")' + Branchid + "&Year=" + Year + "&Month=" + Month + "&EmployeeId=" + EmployeeID
        }
        $(function () {
            $('#BranchID').val('@Model.BranchID.Value');
            var table = $('#example').DataTable({
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                searching: false,
                bInfo: false,
                autoWidth: true,
                fixedColumns: {
                    leftColumns: 1
                },
                columnDefs: [
                    {
                        "targets": [],
                        "visible": false
                    }
                ],
            });

            $('#li_Dashboard').addClass('open');
            $('#li_salaryComponents').addClass('active');
            var count = 0;
            @foreach (var item in Model.SalaryComponantReportYTD.Select(x =>new { x.BranchID, x.BranchName }).Distinct())
            {

               <text>
            $('#jqChart' + count).jqChart({
                                 title: { text: 'YTD' },
                    animation: { duration: 1 },
                    shadows:
                                 {
                                     enabled: true
                    },
                    legend: { visible: false },
                    border: { visible: false },
                    series: [
                        {
                                     type: 'column',
                            title: '',
                            fillStyles: [
                                '#fb0000', '#00a65a', '#333333', '#8cb1f3', '#8a2be2',
                                '#bcb7c1', '#A52A2A', '#DEB887', '#5F9EA0', '#D2691E', '#FF7F50',
                                '#6495ED', '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B',
                                '#006400', '#8B008B', '#556B2F', '#FF8C00', '#8B0000', '#FF1493',
                                '#1E90FF', '#B22222', '#228B22', '#008000', '#4B0082', '#F08080',
                                '#00FF00', '#0000CD', '#FF4500', '#800080', '#9ACD32', '#008080',
                            ],
                            data: [
                                @foreach (var info in Model.SalaryComponantReportYTD.Where(x => x.BranchID == item.BranchID).ToList())
                                {
                                            <text>
                                                [
                                                    '@info.YTDMonth',
                                                      @info.TotalSalary
                                                ],
                                            </text>
                                        }
                            ]
                        }
                    ]
            });
            count++;
            </text>
}



                var background = {
                    type: 'linearGradient',
                    x0: 0,
                    y0: 0,
                    x1: 0,
                    y1: 1
                };
              var count = 0;
            @foreach (var item in Model.SalaryComponantReport.Select(x => new { x.BranchID, x.BranchName }).Distinct())
{
        <text>
            $('#jqChartPie' + count).jqChart({
        title: { text: '@item.BranchName' },
                    legend: { title: 'Countries' },
                    background: background,
                    animation: { duration: 1 },
                    shadows: {
            enabled: true
                    },
                    legend: {
            border: { visible: false },
                    },
                    border: { visible: false },
                    series: [
                        {
            type: 'doughnut',
                            innerExtent: 0.5,
                            outerExtent: 1.0,
                            fillStyles: [
                                '#fb0000', '#00a65a', '#333333', '#8cb1f3', '#8a2be2',
                                '#bcb7c1', '#A52A2A', '#DEB887', '#5F9EA0', '#D2691E', '#FF7F50',
                                '#6495ED', '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B',
                                '#006400', '#8B008B', '#556B2F', '#FF8C00', '#8B0000', '#FF1493',
                                '#1E90FF', '#B22222', '#228B22', '#008000', '#4B0082', '#F08080',
                                '#00FF00', '#0000CD', '#FF4500', '#800080', '#9ACD32', '#008080',
                            ],
                            labels: {
                stringFormat: '%.1f%%',
                                valueType: 'percentage',
                                font: '15px sans-serif',
                                fillStyle: 'balck'
                            },
                            data: [
                                @foreach (var info in Model.SalaryComponantReport.Where(x=>x.BranchID==item.BranchID).ToList())
                                        {
                                            <text>
                                                [
                                                    '@info.ComponentName',
                                                      @info.Amount
                                                ],
                                            </text>
                                        }
                            ],
                            labelsPosition: 'outside', // inside, outside
                            labelsAlign: 'circle', // circle, column
                            labelsExtend: 20,
                            leaderLineWidth: 1,
                            leaderLineStrokeStyle: 'black'
                        }
                    ]
            });
            debugger;
            count++;
            </text>
}
            });
    </script>
}