@model HR.Web.ViewModels.HtmlTblVm<HR.Web.ViewModels.EmpLeaveListVm>

@section Styles{
    <style>
        .pagination {
            display: table;
            margin: 15px auto;
            position: relative;
            float: right;
        }

        .width {
            width: 60%;
        }
    </style>
}

<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="panel-heading">
                    Applied Leave List
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            @if (ViewData["RoleCode"].ToString() == UTILITY.ROLE_SUPERADMIN)
                            {
                                using (Html.BeginForm("AppliedLeaveList", "Leave", FormMethod.Get, new { id = "appliedleavelist", name = "appliedleavelist" }))
                                {
                                    @Html.DropDownList("BranchId", SelectListItemHelper.Branches(), "Select Branch", new { @class = "form-control input-sm", onchange = "getappliedlist(this)" })
                                }
                            }
                        </div>
                        <div class="col-md-12">
                        </div>
                    </div>
                    <table class="table table-conden table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Employee Name
                                </th>
                                <th>
                                    From Date
                                </th>
                                <th>
                                    To Date
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>

                        @for (var i = 0; i < Model.TableData.Count(); i++)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @Model.TableData[i].EmployeeName
                                    </td>
                                    <td>
                                        @Model.TableData[i].FromDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @Model.TableData[i].ToDate.ToString("dd/MM/yyyy")
                                    </td>
                                        @if (Model.TableData[i].Status == UTILITY.LEAVEAPPROVED)
                                        {
                                            <td class="control-label">
                                                <span class="label label-success" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span>
                                            </td>
                                        }
                                        else if(Model.TableData[i].Status == UTILITY.LEAVECANCELLED)
                                        {
                                        <td class="control-label">
                                            <span class="label label-primary" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span>
                                        </td>
                                        }
                                        else if (Model.TableData[i].Status == UTILITY.LEAVEPENDING)
                                        {
                                            <td class="control-label">
                                                <span class="label label-info" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span>
                                            </td>
                                        }
                                        else if (Model.TableData[i].Status == UTILITY.LEAVEREJECTED)
                                        {
                                            <td class="control-label">
                                                <span class="label label-danger" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span>
                                            </td>
                                        }
                                        else if (string.IsNullOrWhiteSpace(Model.TableData[i].Status))
                                        {
                                            <td class="control-label">
                                                <span class="label label-info" style="font-weight:bold;font-size:12px;">Pending</span>
                                            </td>
                                        }
                                </tr>
                            </tbody>
                        }
                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Core/jquery.bootpag.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#li_Leave').addClass('open');
            $('#li_appliedleavelist').addClass('active');
            var branchid=$('#BranchId').val();
            $('#pagination').bootpag({
                total: @Model.PageLength,
                page: @Model.CurrentPage,
                maxVisible: 10,
                href: '@Url.Content("~/Leave/AppliedLeaveList?page="){{number}}' + '&branchid=' +branchid,  //"#pro-page-{{number}}",
                leaps: false,
                next: 'Next',
                prev: 'Prev',
                wrapClass: 'pagination pagination-sm'
            }).on('page', function (event, num) {
                $(".content3").html("Page " + num); // or some ajax content loading...
            });
        });
       
        function getappliedlist(el) {
            $('#appliedleavelist').submit();
        }


    </script>
    }
