@model HR.Web.Models.EmployeeLeaveList
@using (Html.BeginForm("SaveEmployeeLeaveForm", "Leave", FormMethod.Post, new { id = "frmLeave", name = "frmLeave" }))
{
<div class="page">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb10">
                <div class="panel-heading">Employee Leave Form</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">From Date</span>
                                    </label>
                                    <div class="col-md-2">
                                        <div class="input-group date" id="FromDt">
                                            @Html.TextBoxFor(x => x.FromDate, new { @class = "form-control dtCss", required = "required" })
                                            <span class="input-group-addon">
                                                <i class="ion ion-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">To Date</span>
                                    </label>
                                    <div class="col-md-2">
                                        <div class="input-group date" id="ToDt">
                                            @Html.TextBoxFor(x => x.ToDate, new { @class = "form-control dtCss", required = "required" })
                                            <span class="input-group-addon">
                                                <i class="ion ion-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Days</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.Days, new { @class = "form-control", required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row css10">
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Employee</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.EmployeeId,
             SelectListItemHelper.EmployeeList(),
             "Select Employee",
             new { @class = "form-control" })
                            </div>
                            <label class="col-md-1 control-label">
                                <span class="pull-right">LeaveType</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.LeaveTypeId,
             SelectListItemHelper.ConfigData(UTILITY.CONFIG_EMPLOYEELEAVETYPE),
             "Select Leave Type",
             new { @class = "form-control" })
                            </div>
                           
                        </div>                        
                    </div>
                    <div class="row css10">
                        <label class="col-md-1 control-label">
                            <span class="pull-right">Reason</span>
                        </label>
                        <div class="col-md-5">
                            @Html.TextAreaFor(x => x.Reason, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Remarks</span>
                            </label>
                            <div class="col-md-5">
                                @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control" })
                            </div>
                        </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-9"></div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-info" onclick="SaveEmployeeLeaveForm()">Save</button>
                                        <button type="button" class="btn btn-default" data-dismiss="">&nbsp;&nbsp;Cancel</button>
                                    </div>
                                </div>
                               
                            </div>
            </div>
        </div>
    </div>
</div>

</div>
}
@section Scripts{
    
    <script type="text/javascript">     

        $('.dtCss').datetimepicker({
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-arrow-up',
                down: 'fa fa-arrow-down'
            },
            format: 'DD/MM/YYYY'
        });

        $("#ToDt").on("dp.change", function (e) {
            debugger;
            var fromDate = $('#FromDt').find('input').val();
            var toDate = $('#ToDt').find('input').val();
            var from = moment(fromDate, 'DD/MM/YYYY');
            var to = moment(toDate, 'DD/MM/YYYY');
            var days = moment.duration(to.diff(from)).asDays();
            $('#Days').val(days);
        });

        $('#frmLeave').validate({
            rules: {
                'FromDate': {
                    required: true
                },
                'ToDate': {
                    required: true
                },
                //'Days': {
                //    required: true
                //},
                'EmployeeId': {
                    required: true
                },
                'LeaveTypeId': {
                    required: true
                },
                'Reason': {
                    required: true,                    
                },
                'Remarks': {
                    required: true,                    
                }
            }
        });

        function clearrec() {
            $('#FromDate').val('');
            $('#ToDate').val('');
            $('#Days').val('');
            $('#EmployeeId').val('');
            $('#LeaveTypeId').val('');
            $('#Reason').val('');
            $('#Remarks').val('')
        }
        clearrec()
        function SaveEmployeeLeaveForm() {
            if ($('#frmLeave').valid()) {
                $('#frmLeave').submit();
               
            }
        }
</script>
}
