@model HR.Web.Models.HolidayList
@Html.HiddenFor(x => x.HolidayId)
@Html.HiddenFor(x=>x.BranchID)
<div class="row">
    <div class="form-group">
        <label class="col-md-2 control-label">
            <span class="pull-right">Date</span>
        </label>
        <div class="col-md-10">
            <div class="input-group date dtCss" id="Dt">
                @Html.TextBoxFor(x => x.Date, new { @class = "form-control dtCssTxt input-sm", required = "required", onblur = "dtOnBlur();" })
                <span class="input-group-addon">
                    <i class="ion ion-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row css10">
    <div class="form-group">
        <label class="col-md-2 control-label">
            <span class="pull-right">
                Occasion
            </span>
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control input-sm uppercase", @maxlength="20" })
        </div>
    </div>
</div>
@if (ViewData["RoleCode"].ToString()==UTILITY.ROLE_SUPERADMIN)
{
<div class="row css10">
        <div class="form-group">
            <label class="col-md-2 control-label">
                <span class="pull-right">
                    Location
                </span>
            </label>
            <div class="col-md-10">

                @Html.DropDownListFor(x => x.CountryId,
                                         SelectListItemHelper.CountryListById(),
                                         "Select Location",
                                         new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>
}

<script type="text/javascript">

     


    $(function () {
        $('.dtCss').datetimepicker({
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-arrow-up',
                down: 'fa fa-arrow-down',
                previous: 'fa fa-arrow-left',
                next: 'fa fa-arrow-right'
            },
            format: dateFormat
        });

    });

    $("#Dt").on("dp.change", function (e) {
        var dt = $('#Dt').find('input').val();
        $('#Date').val(dt);

    });

    function dtOnBlur() {
        var dt = $('#Dt').find('input').val();
        $('#Date').val(dt);
    }

</script>