@model HR.Web.ViewModels.LeaveVm

@{
 WebGrid grid = new WebGrid(Model.lvmList);
  
 
}
@using (Html.BeginForm("SaveGrantLeave", "Leave", FormMethod.Post, new { id = "frmGrant", name = "frmGrant" }))
{
    <div class="page">
    <div class="row">
        <div class="col-md-12 col-md-4">
            <div class="panel panel-default panel-hovered panel-stacked mb10">
                <div class="panel-heading">Leave Granter</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Leave Granter:</label>
                                <div>
                                    @Html.DropDownListFor(x => x.leaveHeader.LeaveYear,
                                    SelectListItemHelper.LeaveYearList(),
                                    "--Select Leave Granter--",
                                    new { @class = "form-control" })
                                </div>
                                
                                <label>Periodicity:</label>
                                <div>
                                    @Html.DropDownListFor(x => x.leaveHeader.PeriodicityType,
                                    SelectListItemHelper.PeriodicityTypeList(),
                                    "--Select Period--",
                                    new { @class = "form-control" })
                                </div>
                                <label>Period:</label>Periodicity
                                <div>
                                    @Html.DropDownListFor(x =>x.leaveHeader.PeriodType,
                                    SelectListItemHelper.PeriodTypeList(),
                                    "--Select Periodicity--",
                                    new { @class = "form-control" })
                                </div>

                                <label>Leave Scheme:</label>
                                <div>
                                    @Html.DropDownListFor(x =>x.leaveHeader.LeaveSchemeType,
                                    SelectListItemHelper.grantSchemeType(),
                                    "--Select Scheme--",
                                    new { @class = "form-control" })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<grid txt></grid>*@
        <div class="col-md-12 col-md-8">
            <div class="panel panel-default">
                <div class="box" id="grid">
                    <div class="box-header">
                        <h4>Granted List</h4>
                        <div class="col-md-12">
                            @grid.GetHtml(
                         columns: grid.Columns(

                         grid.Column("LeaveYearDescription", "Leave Granter", canSort: true),
                         grid.Column("PeriodicityTypeDescription", "Periodicity", canSort: true),
                         grid.Column("PeriodTypeDescription", "Period", canSort: true),
                         grid.Column("LeaveSchemeTypeDescription", "Leave Scheme", canSort: true)
                        ), tableStyle: "table")
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
    <div class="col-md-12 col-md-4">
    <div class="panel panel-default panel-hovered panel-stacked mb10">
        <div class="checkbox m-b-15"></div>
        <div class="panel-heading">Leave Type</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input value="" aria-label="Priority" type="checkbox"><label>&nbsp;Privilege Leave</label><br />
                        <input value="" aria-label="Priority" type="checkbox"><label>&nbsp;Casual Leave</label><br />
                        <input value="" aria-label="Priority" type="checkbox"><label>&nbsp;Sick Leave or Medical Leave</label><br />
                        <input value="" aria-label="Priority" type="checkbox"><label>&nbsp;Maternity Leave</label><br />
                        <input value="" aria-label="Priority" type="checkbox"><label>&nbsp;Half Pay Leave</label><br />
                        <input value="" aria-label="Priority" type="checkbox"><label>&nbsp;Study Leave or Sabbatical Leave</label><br />
                        <input value="" aria-label="Priority" type="checkbox"><label>&nbsp;Paternity Leave</label><br />
                        <input value="" aria-label="Priority" type="checkbox"><label>&nbsp;Compensatory leave</label><br />
                        <input value="" aria-label="Priority" type="checkbox"><label>&nbsp;Earned Leave</label><br />
                        <input value="" aria-label="Priority" type="checkbox"><label>&nbsp;Restricted Holiday</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="col-md-12 col-md-12">
     <button type="submit" class="btn btn-info">Grant</button>
     @*<button type="button" class="btn btn-default" data-dismiss="">&nbsp;&nbsp;Cancel</button>*@
    </div>

}
