@model  IEnumerable<HR.Web.ViewModels.GrantLeaveListVm>

@{ 
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10);
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box">
                <div class="box-header">
                    <h4>Grant Leave Form</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            @grid.GetHtml(
                columns: grid.Columns(
                 grid.Column("Name", "Employee Name"),
                grid.Column("FromDate", "from Date", format: (item) => string.Format("{0:dd/MM/yyyy}", item.FromDate)),
                grid.Column("ToDate", "To Date", format: (item) => string.Format("{0:dd/MM/yyyy }", item.ToDate)),
                grid.Column("Status","Status",format:@<text>
                            @if (item.Status == UTILITY.LEAVEAPPROVED)
                            {
                                <span class="label label-success"  style="font-weight:bold;font-size:14px;">@item.Status</span>
                            }
                            else if(item.Status == UTILITY.LEAVEREJECTED)
                            {
                                <span class="label label-danger" style="font-weight:bold;font-size:14px;">@item.Status</span>
                            }
                            else if (string.IsNullOrWhiteSpace(item.Status))
                            {
                                <span class="label label-info" style="font-weight:bold;font-size:14px;">Pending</span>
                            }

                            </text>),
                grid.Column("", "View", format: @<text><button class="btn btn-xs waves-effect" style="padding-left: 5px;margin-left: 6px;" type="button" onclick="location.href = '@Url.Content("~/Leave/AppliedGrantLeaveStatus?EmployeeLeaveID=")'+ @item.EmployeeLeaveID"><i class="fa fa-eye" style="padding-left: 5px;"></i></button></text>)),
                tableStyle: "table table-condensed")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        $(function () {
            $('#li_Leave').addClass('open');
            $('#li_grantleaveform').addClass('active');
        });
    
        @*function grantleavefrom(EmployeeId) {
            debugger;
            $.ajax({
                url: '@Url.Content("~/Leave/AppliedLeaveStatsus?EmployeeId=")' + EmployeeId,
                contentType: 'text/html',
                method: 'GET',
                success: function (data) {
                    $('#frmgrantleave').frmgrantleave('show');
                    $('#modalContent').html('');
                    $('#modalContent').html(data);
                }
            });
        }*@

</script>
