
@model List<HR.Web.ViewModels.LeavepolicyVm>


@section Styles {
    <style type="text/css">
        .popover {
            max-width: 1000%;
            width: 500px;
            height:500%
        }
    </style>
}


<div class="page" style="min-height:1000px;">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Leaves</h4>
                    <div class="box-tools">
                        <button class="btn btn-info btn-raised waves-effect btn-sm"
                                type="button" onclick="location.href='@Url.Content("~/Leave/Leave")'">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row" id="tableGrid">
                        <div class="col-md-12">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>BranchName</th>
                                        <th>Information</th>
                                        <th>#Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.Count(); i++)
                                    {
                                        <tr>
                                            <td>@Model.ElementAt(i).BranchName</td>
                                            <td><button class="btn btn-primary btn-sm" type="button" data-toggle="popover_@(i)" title="Leave Policy" >info</button></td>
                                            <td><button class="btn btn-primary btn-sm" onclick="location.href='@Url.Content("~/Leave/Leave?leaveId=")+ @Model.ElementAt(i).LeaveId'">Edit</button></td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@for (var i = 0; i < Model.Count(); i++)
{
     <div id="popover_@i" class="hide">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">                    
                    <ul class="list-group" style="font-weight:Bold;">
                        <li class="list-group-item">PL Per Year: @Model.ElementAt(i).PaidLeavesPerYear</li>
                        <li class="list-group-item">PL Per Month:@Model.ElementAt(i).PaidLeavesPerMonth</li>
                        <li class="list-group-item">IsPaidLeaveCarryFarward:@Html.CheckBoxFor(x =>x.ElementAt(i).IsPaidLeaveCarryForward)</li>
                        <li class="list-group-item">CarryFarwardPerYear:@Model.ElementAt(i).CarryFarwardPerYear</li>
                        <li class="list-group-item">SickLeavesPerYear:@Model.ElementAt(i).SickLeavesPerYear</li>
                        <li class="list-group-item">SickLeavesPerMonth:@Model.ElementAt(i).SickLeavesPerMonth</li>
                        <li class="list-group-item">IsSickLeaveCarryFarward:@Html.CheckBoxFor(x => x.ElementAt(i).IsSickLeaveCarryFarward)</li>
                        <li class="list-group-item">CarryFarwardSickLeaves:@Model.ElementAt(i).CarryFarwardSickLeaves</li>
                        <li class="list-group-item">CasualLeavesPerYear:@Model.ElementAt(i).CasualLeavesPerYear</li>
                        <li class="list-group-item">CasualLeavesPerMonth:@Model.ElementAt(i).CasualLeavesPerMonth</li>
                        <li class="list-group-item">IsCasualLeaveCarryFarward:@Html.CheckBoxFor(x => x.ElementAt(i).IsCasualLeaveCarryFarward)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover_@i"]').popover({
                placement: 'bottom',
                html: true,
                content: function () {
                    return $('#popover_@i').html();
                }
            });
        });       
        
    </script>
}
@section Scripts{
<script type="text/javascript">
    $(function () {
        $('#li_Leave').addClass('open');
        $('#li_empdir').addClass('active');

    });
</script>
}