@model HR.Web.ViewModels.HtmlTblVm<HR.Web.ViewModels.ViewLeaveVm>
@section Styles {
    <style type="text/css">
        .popover {
            max-width: 100%;
            width: 500px;
        }

        .pagination {
            display: table;
            margin: 15px auto;
            position: relative;
            float: right;
        }

        .width {
            width: 80%;
        }

        .nowrap {
            white-space: nowrap;
        }

    </style>
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default panel-hovered panel-stacked mb10">
            <div class="center-block width">
                <div class="panel-heading">
                    Leave List For The Year(@DateTime.Now.Year)
                    @if (ViewData["RoleCode"].ToString() != UTILITY.ROLE_SUPERADMIN)
                    {
                        <div class="box-tools">
                            <button class="btn btn-primary btn-sm pull-right ajaxCss" onclick="location.href='@Url.Content("~/Leave/EmployeeRequestFrom")'">Apply Leave</button>
                        </div>
                    }
                </div>
                <div class="panel-body">
                    <div class="table-responsive">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="nowrap">Manager Name</th>
                                    <th class="nowrap">Apply Date</th>
                                    <th class="nowrap">From Date</th>
                                    <th class="nowrap">To Date</th>
                                    <th class="nowrap">Leave Type</th>
                                    <th class="nowrap">Total Days</th>
                                    <th>Reason</th>
                                    <th>Status</th>
                                    <th>#Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (var i = 0; i < Model.TableData.Count; i++)
                                {
                                    @Html.HiddenFor(x => x.TableData[i].EmployeeId)
                                    @Html.HiddenFor(x => x.TableData[i].EmployeeLeaveID)
                                    <tr>
                                        <td>@Model.TableData[i].ManagerName</td>
                                        <td>@Model.TableData[i].ApplyDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Model.TableData[i].FromDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Model.TableData[i].ToDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Model.TableData[i].LeaveTypeDesc</td>
                                        <td>@Model.TableData[i].Days</td>
                                        <td>@Model.TableData[i].Reason</td>
                                        <td>
                                            @if (Model.TableData[i].Status == UTILITY.LEAVEAPPROVED)
                                            {

                                                <label class="control-label"><span class="label label-success" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span></label>
                                            }

                                            else if (Model.TableData[i].Status == UTILITY.LEAVEREJECTED)
                                            {
                                                <label class="control-label"><span class="label label-danger" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span></label>
                                            }
                                            else if (Model.TableData[i].Status == UTILITY.LEAVECANCELLED)
                                            {
                                                <label class="control-label"><span class="label label-primary" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span></label>
                                            }
                                            else if (string.IsNullOrWhiteSpace(Model.TableData[i].Status))
                                            {
                                                <label class="control-label"><span class="label label-info" style="font-weight:bold;font-size:12px;"></span>Pending</label>
                                            }
                                            else if (Model.TableData[i].Status == UTILITY.LEAVEPENDING)
                                            {
                                                <label class="control-label"><span class="label label-info" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span></label>
                                            }
                                        </td>
                                        @if ((Model.TableData[i].Status == UTILITY.LEAVEPENDING) || (string.IsNullOrWhiteSpace(Model.TableData[i].Status)))
                                        {
                                            <td>
                                                <button class="btn btn-danger btn-sm"
                                                        type="button" data-toggle="popoverCancel" data-id="@Model.TableData[i].EmployeeLeaveID">
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </button>
                                                @*<button class="btn btn-danger btn-sm"
                                                            type="button" onclick="OpenCancelPopover(@Model.TableData[i].EmployeeLeaveID)">
                                                        <i class="fa fa-trash-o"></i> Cancel
                                                    </button>*@
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <button class="btn btn-danger btn-sm"
                                                        type="button" data-toggle="popoverCancel" disabled>
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </button>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="pagination"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


@using (Html.BeginForm("CancelLeave", "Leave", FormMethod.Post, new { id = "frmCancelLeave", name = "frmCancelLeave" }))
{
    <input type="hidden" id="employeeLeaveID" name="employeeLeaveID" />
    <input type="hidden" id="employeeRemarks" name="employeeRemarks" />
    <div id="popoverCancel" class="hide">
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">Remarks:</div>
                <div class="col-md-9">

                    <textarea id="txtRemarks" name="txtRemarks" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="row css10">
            <div class="form-group">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <button type="button" class="btn btn-primary btn-sm" onclick="CancelLeave()"><i class="fa fa-floppy-o"></i>Save</button>
                    <button type="button" class="btn btn-default btn-sm" onclick="ClosePopUp()"><i class="fa fa-times"></i>Close</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script src="~/Scripts/Core/jquery.bootpag.min.js"></script>
    <script type="text/javascript">
        function OpenCancelPopover(empLeaveId){
            debugger;
            $('[data-toggle="popoverCancel"]').popover({
                placement: 'left',
                html: true,
                content: function () {
                    return $('#popoverCancel').html();
                }
            });
            //$('#popoverCancel').removeClass('hide');
            //$('#popoverCancel').addClass('popover fade left in show');
            //$('#popoverCancel').addClass('show');


            $('[data-toggle="popoverCancel"]').popover();
            $('#employeeLeaveID').val(empLeaveId);
        }
        function getyear(){
            var year=new Date().getFullYear;
        }


        $(function () {
            $('#li_Leave').addClass('open');
            $('#li_empadd').addClass('active');
            
            $('[data-toggle="popoverCancel"]').popover({
                placement: 'left',
                html: true,
                content: function () {
                    var empLeaveId=$(this).data("id");
                    $('#employeeLeaveID').val(empLeaveId);
                    return $('#popoverCancel').html();
                }
            })

            $('#pagination').bootpag({
                total: @Model.PageLength,
                page: @Model.CurrentPage,
                maxVisible: 6,
                href: '@Url.Content("~/Leave/ViewLeavesList?page="){{number}}', //"#pro-page-{{number}}",
                leaps: false,
                next: 'Next',
                prev: 'Prev',
                wrapClass: 'pagination pagination-sm'
            }).on('page', function (event, num) {
                $(".content3").html("Page " + num); // or some ajax content loading...
            });
        });

        function cancelRequest(id) {
            $('#employeeLeaveID').val(id);
        }

        function CancelLeave() {
            var remarks = $('#txtRemarks').val();
            $('#employeeRemarks').val(remarks);
            $('#popoverCancel').find('textarea[id=txtRemarks]').attr('value', remarks);
            $('#frmCancelLeave').submit();

        }
        function ClosePopUp() {
            $('#popoverCancel').addClass('hide');
        }

    </script>
}
