@model IEnumerable<HR.Web.Models.WeekendPolicy>
 
    <div class="page">
        <div class="page-wrap">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Weekend Policy List
                    </div>
                   
                    @*@for (var i = 0; i < Model.Count(); i++)
                    {
                        <div class="panel-body">
                            
                            <div class="row">
                                <div>
                                    BranchName:
                                </div>

                            </div>
                            <div class="row">
                                <label>Monday</label>
                                @Html.CheckBoxFor(x => x.ElementAt(i).Monday.Value)
                            </div>
                            <div class="row">
                                <label>Tuesday</label>
                                @Html.CheckBoxFor(x => x.ElementAt(i).Tuesday.Value)
                            </div>
                            <div class="row">
                                <label>Wednesday</label>
                                @Html.CheckBoxFor(x => x.ElementAt(i).Wednesday.Value)
                            </div>
                            v
                            <div class="row">
                                <label>Thursday</label>
                                @Html.CheckBoxFor(x => x.ElementAt(i).Thursday.Value)
                            </div>
                            <div class="row">
                                <label>Friday</label>
                                @Html.CheckBoxFor(x => x.ElementAt(i).Friday.Value)
                            </div>
                            <div class="row">
                                <label>Saturday</label>
                                @Html.CheckBoxFor(x => x.ElementAt(i).Saturday.Value)
                            </div>
                            <div class="row">
                                <label>Sunday</label>
                                @Html.CheckBoxFor(x => x.ElementAt(i).Sunday.Value)
                            </div>
                        </div>
                    }*@
              
                    @*@for (var i = 0; i < Model.Count(); i++)
                        {
                            <div class="row">
                                BranchName:@Html.DropDownListFor()
                            </div>
                        }*@
                        <div class="panel-body">
                            <button class="btn btn-primary btn-sm pull-right" onclick="location.href='@Url.Content("~/Leave/WeekEndPolicy?branchId=-1")'">
                                Add
                            </button>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                       <th>Edit</th>
                                    </tr>
                                </thead>

                               
                                   @for (var i = 0; i < Model.Count(); i++)
                                   {
                                    <tbody>
                                        <tr>
                                            <td>@Model.ElementAt(i).Monday</td>
                                            <td>@Model.ElementAt(i).Tuesday</td>
                                            <td>@Model.ElementAt(i).Wednesday</td>
                                            <td>@Model.ElementAt(i).Thursday</td>
                                            <td>@Model.ElementAt(i).Friday</td>
                                            <td>@Model.ElementAt(i).Saturday</td>
                                            <td>@Model.ElementAt(i).Sunday</td>
                                        </tr>
                                    </tbody>
                                   }

                                   
                            </table>
                           </div>
                    </div>
                </div>
            </div>
        </div>
   
    @section Scripts{
        <script>
        $(function() {
            $('#li_Leave').addClass('open');
            $('#li_weekendpolicy').addClass('active');
        })
       
        </script>
    }
