@model HR.Web.ViewModels.UpdateVariablePayVm

<div class="row">
    @if (Model.variablepaymentdetail != null)
    {
        <table class="table table-conden table-bordered">

            @for (int i = 0; i < Model.variablepaymentdetail.Count(); i++)
            {
                @Html.HiddenFor(x => x.variablepaymentdetail[i].DetailID)
                @Html.HiddenFor(x=>x.variablepaymentdetail[i].EmployeeId)
                @Html.HiddenFor(x=>x.variablepaymentdetail[i].HeaderId)
                <tr>
                    <td>

                        @Html.DisplayFor(X => X.variablepaymentdetail[i].ComponentCode)
                        @Html.HiddenFor(x => x.variablepaymentdetail[i].ComponentCode)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.variablepaymentdetail[i].Amount, new { @class = "form-control input-sm" })
                    </td>
                </tr>
            }


        </table>

    }
   
</div>