@model HR.Web.ViewModels.PayrollBatchVm

@{
    var listMonths = new List<SelectListItem>()
    {
    new SelectListItem {Text = "January",   Value = "1"},
    new SelectListItem {Text = "February", Value = "2"},
    new SelectListItem {Text = "March", Value = "3"},
    new SelectListItem {Text = "April",   Value = "4"},
    new SelectListItem {Text = "May", Value = "5"},
    new SelectListItem {Text = "June", Value = "6"},
    new SelectListItem {Text = "July",   Value = "7"},
    new SelectListItem {Text = "August", Value = "8"},
    new SelectListItem {Text = "September", Value = "9"},
    new SelectListItem {Text = "October",   Value = "10"},
    new SelectListItem {Text = "November", Value = "11"},
    new SelectListItem {Text = "December", Value = "12"}
    };
}

@using (Html.BeginForm("", "PayrollBatch", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb10">
                <div class="panel-heading">
                    Payslip Batch
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(x => x.payslipBatchHeader.BatchHeaderId)
                    <div class="row css5">

                        <label class="col-md-2 control-label">
                            <span class="pull-right">Batch No</span>
                        </label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(x => x.payslipBatchHeader.BatchNo, new { @class = "form-control input-sm" })
                        </div>
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Process Date</span>
                        </label>
                        <div class="col-md-3">
                            <div class="input-group date dtCss" id="ProcessDate">
                                @Html.TextBoxFor(x => x.payslipBatchHeader.ProcessDate, new { @class = "form-control input-sm" })
                                <span class="input-group-addon">
                                    <i class="ion ion-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row css5">

                        <label class="col-md-2 control-label">
                            <span class="pull-right">Month</span>
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(x => x.payslipBatchHeader.Month,  listMonths,new { @class = "form-control input-sm" })
                        </div>
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Year</span>
                        </label>
                        <div class="col-md-3">
                           @Html.DropDownListFor(x => x.payslipBatchHeader.Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control input-sm" })
 </div>
                    </div>
                    <div class="row css5">
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Total Salary</span>
                        </label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(x => x.payslipBatchHeader.TotalSalary, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right',

                },
                format: dateFormat
            });
        });
    </script>
}
