@model HR.Web.ViewModels.TaxAssessmentVm

<div class="page" style="overflow:visible;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb10" style="min-height:800px;">
                <div class="panel-heading">
                    Tax Assessment Calculations
                </div>
                <div class="panel-body">
@using (Html.BeginForm("SaveTaxAssessment", "PayrollBatch", FormMethod.Post, new { id = "saveassessmentfrm", name = "saveassessmentfrm" }))
{

    <div class="row css5">
        <label class="col-md-2 control-label">
            <span class="pull-right">Tax Assessment No.</span>
        </label>
        <div class="col-md-1">
            @Html.TextBoxFor(x => x.taxassessmentheader.AssessmentNo, new { @class = "form-control input-sm" })
        </div>
        <label class="col-md-1 control-label">
            <span class="pull-right">Year</span>
        </label>
        <div class="col-md-1">
            @Html.DropDownListFor(x => x.taxassessmentheader.Year, SelectListItemHelper.GetYears(), new { @class = "form-control input-sm" })
            @Html.HiddenFor(x=>x.taxassessmentheader.Year)
        </div>
    </div>
                    <div class="row css5">

                        <label class="col-md-2 control-label">
                            <span class="pull-right">Social Security Contribution</span>
                        </label>
                        <div class="col-md-1">
                            @Html.TextBoxFor(x => x.taxassessmentheader.SocialContributionRate, new { @class = "form-control input-sm" })
                        </div>
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Max. Amount</span>
                        </label>
                        <div class="col-md-1">
                            @Html.TextBoxFor(x => x.taxassessmentheader.MaximumAmount, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="row css5">

                        <label class="col-md-2 control-label">
                            <span class="pull-right">Salary From</span>
                        </label>
                        <div class="col-md-1">
                            @Html.TextBoxFor(x => x.taxassessmentdetail.SalaryFrom, new { @class = "form-control input-sm" })
                        </div>
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Salary To</span>
                        </label>
                        <div class="col-md-1">
                            @Html.TextBoxFor(x => x.taxassessmentdetail.SalaryTo, new { @class = "form-control input-sm" })
                        </div>
                        <label class="col-md-2 control-label">
                            <span class="pull-right">Rate</span>
                        </label>
                        <div class="col-md-1">
                            @Html.TextBoxFor(x => x.taxassessmentdetail.Rate, new { @class = "form-control input-sm" })
                        </div>

                        <button type="button" class="btn btn-sm btn-primary" id="button-btn" onclick="savetaxassessment()"><i class="fa fa-save"></i><b>Save</b></button>

                    </div>
                    <div class="row css10">
                        <div class="col-md-12">
                            @if (Model.TaxAssessmentDetail != null && Model.TaxAssessmentDetail.Count() > 0)
                            {
                                <table class="table table-conden table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Salary From</th>
                                            <th>Salary To</th>
                                            <th>Rate</th>
                                            <th>#Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @for (var i = 0; i < Model.TaxAssessmentDetail.Count; i++)
                                        {

                                            <tr>
                                                <td>
                                                    @Model.TaxAssessmentDetail[i].SalaryFrom
                                                </td>
                                                <td>
                                                    @Model.TaxAssessmentDetail[i].SalaryTo
                                                </td>
                                                <td>
                                                    @Model.TaxAssessmentDetail[i].Rate
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-xs btn-raised waves-effect btn-sm" style="padding-left: 5px;margin-left: 6px;"
                                                            onclick="EditSalaries(@Model.TaxAssessmentDetail[i].HeaderID)">
                                                        <i class="fa fa-pencil" style="padding-left: 5px;"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>

                    </div>


}
                   




                    </div>
        </div>
    </div>
        </div>
    </div>

@section Scripts{
    
    <script type="text/javascript">

        function savetaxassessment() {
            $('#saveassessmentfrm').submit();
        }
    </script>
}






