@model HR.Web.Models.LookUp
<style>
    #error {
        display: none;
        color: Red;
    }
</style>
<div class="row">
    @Html.HiddenFor(x => x.LookUpID)
    <div class="form-group">
        <label class="col-md-4 control-label">
            <span class="pull-right">Currency Value</span>
        </label>
        @if (Model.LookUpID == -1)
        {
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.LookUpCode,
            new { @class = "form-control input-sm", onblur = "checkCurrency(this)" })
                <label id="error">Currency Already Exists.</label>
            </div>
        }
        else
        {
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.LookUpCode,
            new { @class = "form-control input-sm decimalCss" })
            </div>

        }

    </div>
</div>
<div class="row css10">
    <div class="form-group">
        <label class="col-md-4 control-label">
            <span class="pull-right">Currency Code</span>
        </label>
        <div class="col-md-8">
            @Html.TextAreaFor(x => x.LookUpDescription,

            new { @class = "form-control input-sm" })
        </div>
    </div>
</div>
<script type="text/javascript">
    function checkCurrency(el) {
        $.ajax({
            url: '@Url.Content("~/Config/IsCurrencyExists?currency=")' + $('#LookUpCode').val(),
            method: 'get',
            contentType: 'Json',
            success: function (result) {
                if (result == "True") {
                    $('#error').show();
                    $('#LookUpCode').val('');
                    $('#error').fadeOut(5000);
                }
                else {
                    $('#error').hide();
                }
            },
            error: function (err) {
                return result;
            }

        });
    }
</script>



