@model HR.Web.Models.LookUp
<style>
    #error {
        display: none;
        color: Red;
    }
</style>
<div class="row">
    @Html.HiddenFor(x => x.LookUpID)
    @*@Html.HiddenFor(x => x.IsActive)*@
    <div class="form-group">
        <label class="col-md-4 control-label">
            <span class="pull-right">Type</span>
        </label>
        <div class="col-md-8">
            @Html.TextBoxFor(x => x.LookUpCode,
            new { @class = "form-control input-sm", onblur = "checkMaritalStatus(this)" })
            <label id="error">Marital Status Already Exists.</label>
        </div>
    </div>
</div>
<div class="row css10">
    <div class="form-group">
        <label class="col-md-4 control-label">
            <span class="pull-right"> Description</span>
        </label>
        <div class="col-md-8">
            @Html.TextAreaFor(x => x.LookUpDescription,
            new { @class = "form-control input-sm" })
        </div>
    </div>
</div>
@*<div class="row">
    <label class="col-md-4 control-label">
        <span class="pull-right">IsActive</span>
    </label>
    <div class="col-md-4">
        <div style="margin-top:10px;">
            @Html.CheckBoxFor(x => x.IsActive)
        </div>
    </div>
</div>*@
<script type="text/javascript">
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue',
            increaseArea: '20%' // optional
        });
    });
    function checkMaritalStatus(el) {
        $.ajax({
            url: '@Url.Content("~/Config/IsMaritalStatusExist?MaritalStatus=")' + $('#LookUpCode').val(),
            method: 'get',
            contentType: 'Json',
            success: function (result) {
                if (result == "True") {
                    $('#error').show();
                    $('#LookUpCode').val('');
                    $('#error').fadeOut(5000);
                }
                else {
                    $('#error').hide();
                }
            },
            error: function (err) {
                return result;
            }

        });
    }
</script>

   


