@model IQueryable<HR.Web.Models.LookUp>

@{
    ViewBag.Title = "Index";

    WebGrid grid = new WebGrid(Model, rowsPerPage: 5);
    grid.Pager(WebGridPagerModes.All);

    }
<div class="col-md-12">
    <div class="panel panel-lined table-responsive panel-hovered mb20 data-table" style="margin-top:66px;padding-bottom: 20px">
        <div class="panel-heading"  style="font-size: large;">Employee Designation
            <button class="md-raised md-button md-primary waves-effect pull-right"><i class="fa fa-plus"></i>&nbsp; ADD</button></div>
        <div class="panel-body">
                   </div>
            @grid.GetHtml(
tableStyle: "table table-hover",
headerStyle: "Grid-Header",
alternatingRowStyle: "Grid-alt",
selectedRowStyle: "Grid-selected",
rowStyle: "Grid-rowstyle",
footerStyle: "Grid-Footer",
mode: WebGridPagerModes.All,
columns: grid.Columns(grid.Column("LookUpId", format: (item) => item.GetSelectLink(item.LookUpId.ToString())),
  grid.Column(columnName: "LookUpCode", header: "EmployeeCode"),
  grid.Column(columnName: "LookUpDescription", header: "EmployeeDesgination"),
  grid.Column(columnName: "IsActive", header: "Status")
)
     )
            </div>         
        </div>
<h3>Selected row</h3>
    @if (grid.HasSelection)
    {
        var pd = (HR.Web.Models.LookUp)grid.Rows[grid.SelectedIndex].Value;
        <p>Lookup Id: @pd.LookUpID</p>
        <p>Lookup Code: @pd.LookUpCode</p>
        <p>LookupDescription : @pd.LookUpDescription</p>
        <p>Status: @pd.IsActive</p>
    }

<style>
    #grid{
        margin-top:30px;
        margin-left:50px;
    }
 
    .table table-hover { margin: 4px; border-collapse: collapse; width: 500px;  background-color:#B4CFC3;}
    .Grid-Header { background-color: #C1D4E6; font-weight: bold; color: #FFF; }
    .webGrid th, .webGrid td { border: 1px solid #C0C0C0; padding: 5px; }
    .Grid-alt{ background-color: #E4E9F5; color: #000; }
    .gridHead a:hover {text-decoration:underline;}
    .description { width:auto}
    .Grid-selected{background-color: #71857C}

</style>