@model HR.Web.ViewModels.EmployeeVm
@using (Html.BeginForm("SaveEmployee", "Employee", FormMethod.Post, new { id = "frmEmp", name = "frmEmp", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.empHeader.EmployeeId)
    @Html.HiddenFor(x => x.empHeader.BranchId)
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-hovered panel-stacked mb10">
                    <div class="panel-heading">@Model.empHeader.FirstName&nbsp;@Model.empHeader.LastName&nbsp;Profile</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">ID Type</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => x.empHeader.IDType,
     SelectListItemHelper.EmployeeType(),
     "Select Type",
     new { @class = "form-control" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">DOJ</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-group date" id="JoiningDate">
                                        @Html.TextBoxFor(x => x.empWorkDetail.JoiningDate, "{0:MM/dd/yyyy}", new { @class = "form-control dtCss", required = "required" })
                                        <span class="input-group-addon">
                                            <i class="ion ion-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">First Name</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.empHeader.FirstName,
        new { @class = "form-control" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Last Name</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.empHeader.LastName,
          new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Middle Name</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.empHeader.MiddleName,
      new { @class = "form-control" })
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <label>
                                        @Html.RadioButtonFor(x => x.empPersonalDetail.Gender, 101, "Male")
                                        <span>Male</span>
                                    </label>
                                    &nbsp;
                                    <label>
                                        @Html.RadioButtonFor(x => x.empPersonalDetail.Gender, 102, "Female")
                                        <span>Female</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">DOB</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group date" id="DOB">
                                    @Html.TextBoxFor(x => x.empPersonalDetail.DOB, "{0:MM/dd/yyyy}", new { @class = "form-control dtCss" })
                                    <span class="input-group-addon">
                                        <i class="ion ion-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Marital Status</span>
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(x => x.empPersonalDetail.MaritalStatus,
        SelectListItemHelper.MaritalStatus(), "Select Marital Status",
        new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Email</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.empHeader.UserEmailId,
     new { @class = "form-control" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Father's Name</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.empPersonalDetail.FatherName,
       new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Mobile</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.address.MobileNo,
      new { @class = "form-control" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Emg. Contact Name</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.empPersonalDetail.EmergencyContactName,
     new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Nationality</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => x.empHeader.Nationality,
          SelectListItemHelper.CountryList(), "Select Country",
           new { @class = "form-control" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Emg. Contact No</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.empPersonalDetail.EmergencyContactNumber,
     new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group" style="white-space:nowrap">
                                <div class="col-md-6">
                                    </div>
                                    
                                </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default panel-hovered panel-stacked mb10">
                    <div class="panel-heading">Address</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">Address 1</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(x => x.address.Address1,
                                    new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">Address 2</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(x => x.address.Address2,
                                     new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">City</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(x => x.address.CityName,
                                    new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">State</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(x => x.address.StateName,
                                    new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">Postal Code</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(x => x.address.ZipCode,
                                    new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">Country</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(x => x.address.CountryCode, SelectListItemHelper.CountryList(), "Select",
                                    new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default panel-hovered panel-stacked mb10">
                    <div class="panel-heading">Position</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">Designation</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(x => x.empWorkDetail.DesignationId,
                                     SelectListItemHelper.Designation(),
                                     "Select Designation",
                                     new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">Department</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(x => x.empWorkDetail.DepartmentId,
                                     SelectListItemHelper.Department(),
                                     "Select Department",
                                     new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">Notice Period</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(x => x.empWorkDetail.NoticePeriod,
                                     SelectListItemHelper.NoticePeriod(),
                                     "Select NoticePeriod",
                                     new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">Prohibation</span>
                                </label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(x => x.empWorkDetail.ProbationPeriod,
                                     SelectListItemHelper.ProhibationPeriod(),
                                     "Select Prohibation",
                                     new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">Confirmation Date</span>
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group date" id="ConfirmationDate">
                                        @Html.TextBoxFor(x => x.empWorkDetail.ConfirmationDate, "{0:MM/dd/yyyy}", new { @class = "form-control dtCss" })
                                        <span class="input-group-addon">
                                            <i class="ion ion-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right">Resigned Date</span>
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group date" id="ResignationDate">
                                        @Html.TextBoxFor(x => x.empWorkDetail.ResignationDate, "{0:MM/dd/yyyy}", new { @class = "form-control dtCss" })
                                        <span class="input-group-addon">
                                            <i class="ion ion-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group" style="white-space:nowrap">
                                <div class="col-md-2">
                                    </div>
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Reporting To</span>
                                    </label>
                                    <div class="col-md-1" style="margin-top:10px">
                                        @Html.CheckBoxFor(x => x.empHeader.IsReportingAuthority)

                                    </div>
                                    <div id="isReportingTo">

                                        <div class="col-md-8">
                                            @Html.DropDownListFor(x => x.empHeader.ManagerId, SelectListItemHelper.EmployeeList((int)ViewData["BranchId"], true), "Select",
                                    new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="row css5">
                            @*<div class="form-group">
                                    <label class="col-md-3 control-label">
                                        <span class="pull-right">Link</span>
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control input-sm">
                                            <option value="BASIC">BASIC STRUCT</option>
                                            <option value="HRA">HRA STRUCT</option>
                                            <option value="OTHER">OTHER STRUCT</option>
                                        </select>
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span class="pull-right"></span>
                                </label>
                                @if (Model.empHeader.EmployeeId!=-1)
                                {
                                    <div class="col-md-9">
                                        <div class="pull-right"><button type="button" onclick="location.href = '@Url.Content("~/PayRoll/SalaryStructure?fname=" + Model.empHeader.FirstName)'" class="btn btn-success btn-sm"><i class="fa fa-gears"></i>&nbsp;Apply Salary Structure</button></div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-hovered panel-stacked mb10">
                    <div class="panel-heading">Login Info</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Email</span>
                                </label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.empHeader.UserEmailId,
                                    new { @class = "form-control" })
                                </div>

                            </div>
                        </div>
                        <div class="row css5">
                            <div class="form-group">
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Password</span>
                                </label>
                                <div class="col-md-3">
                                    @Html.PasswordFor(x => x.empHeader.Password,
                                    new { @class = "form-control", value = Model.empHeader.Password })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Confirm Password</span>
                                </label>
                                <div class="col-md-3">
                                    @Html.PasswordFor(x => x.empHeader.ConfirmPassword,
                                    new { @class = "form-control", value = Model.empHeader.ConfirmPassword })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Status</span>
                                </label>
                                <div class="col-md-2">
                                    <div style="margin-top:10px">
                                        @Html.CheckBoxFor(x => x.empHeader.IsActive.Value)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-hovered panel-stacked mb10">
                    <div class="panel-heading">Documents</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Document Name</th>
                                            <th>Document Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.empDocument.Count(); i++)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(x => x.empDocument[i].DocumentDescription)</td>
                                                @Html.HiddenFor(x => x.empDocument[i].DocumentType)
                                                <td>
                                                    @Html.TextBoxFor(x => x.empDocument[i].Document, new { type = "file", onchange = "CheckFileName(this)" })
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn-sm" type="button" onclick="SaveEmployee()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
            </div>
        </div>
    </div>
}


@section Scripts{
    <link rel="stylesheet" href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css" />
    <script type="text/javascript">
        function CheckFileName(el) {
            var fileName = document.getElementById(el.id).value;
            if (fileName == "") {
                alert("Browse to upload a valid File with png/jpeg/jpg/gif extension");
                return false;
            }
            else if (fileName.split(".")[1].toUpperCase() == "PNG" || fileName.split(".")[1].toUpperCase() == "JPEG" || fileName.split(".")[1].toUpperCase() == "JPG" || fileName.split(".")[1].toUpperCase() == "GIF")
                return true;
            else {
                alert("File with " + fileName.split(".")[1] + " is invalid. Upload a validfile with png/jpg/jpeg/gif extensions");
                el.value = "";
                return false;
            }
            return true;
        }
    </script>
    <script type="text/javascript">
        $(function () {
            //$('#isReportingTo').hide();
            //$('.form-control').addClass('input-sm');
            $('#li_Employee').addClass('open');
            $('#li_empdir').addClass('active');
            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right'
                },
                format: dateFormat
            });


        });

        $('#frmEmp').validate({
            rules: {
                'empHeader.IDType': {
                    required: true
                },
                'empWorkDetail.JoiningDate': {
                    required: true
                },
                'empHeader.FirstName': {
                    required: true,
                    maxlength: 30
                },
                'empHeader.MiddleName': {
                    maxlength: 30
                },
                'empHeader.LastName': {
                    required: true,
                    maxlength: 30
                },
                'empPersonalDetail.FatherName': {
                    maxlength: 30
                },
                'empPersonalDetail.EmergencyContactName': {
                    maxlength: 200
                },
                'empPersonalDetail.DOB': {
                    required: true
                },
                'address.Email': {
                    required: true,
                    email: true
                },
                'address.MobileNo': {
                    required: true
                },
                'empHeader.Nationality': {
                    required: true
                },
                'empPersonalDetail.MaritalStatus': {
                    required: true
                },
                'empWorkDetail.ConfirmationDate': {
                    required: true
                },
                'address.Address1': {
                    required: true,
                },
                'empHeader.UserEmailId': {
                    required: true,
                    email: true
                },
                'empHeader.Password': {
                    required: true,
                    maxlength: 30
                },
                'empHeader.ConfirmPassword': {
                    required: true,
                    equalTo: '#empHeader_Password'
                }
            }
        });


        //$("#empHeader_IsReportingAuthority").on("ifChanged", function () {
        //    debugger;
        //    if ($('#empHeader_IsReportingAuthority').prop('checked')) {
        //        $('#isReportingTo').show();
        //    } else {
        //        $('#isReportingTo').hide();
        //    }
        //});

        function SaveEmployee() {
            if ($('#frmEmp').valid()) {
                $('#frmEmp').submit();
            }
        }
    </script>
}


