@model HR.Web.ViewModels.EmployeeVm

    <div class="page">
        <div class="page-wrap">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default panel-hovered panel-stacked mb30">
                        <div class="panel-heading">Profile</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">ID Type</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.empHeader.IDType,
                                    SelectListItemHelper.EmployeeType(),
                                    "Select Type",
                                    new { @class = "form-control" })
                                    </div>
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">DOJ</span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-group date" id="datepickerDemo">
                                            @Html.TextBoxFor(x => x.empWorkDetail.JoiningDate, new { @class = "form-control" })
                                            <span class="input-group-addon">
                                                <i class=" ion ion-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row css5">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">First Name</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.empHeader.FirstName,
                                    new { @class = "form-control" })
                                    </div>
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Last Name</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.empHeader.LastName,
                                    new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row css5">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Middle Name</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.empHeader.MiddleName,
                                    new { @class = "form-control" })
                                    </div>                                    
                                </div>
                            </div>
                            <div class="row css5">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">DOB</span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-group date" id="datepickerDemo">
                                        @Html.TextBoxFor(x => x.empPersonalDetail.DOB, new { @class = "form-control" })
                                        <span class="input-group-addon">
                                            <i class=" ion ion-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="ui-radio ui-radio-primary">
                                        <label class="ui-radio-inline">
                                            @Html.RadioButtonFor(x => x.empPersonalDetail.Gender, "Male", "101")
                                            <span>Male</span>
                                        </label>
                                        <label class="ui-radio-inline">
                                            @Html.RadioButtonFor(x => x.empPersonalDetail.Gender, "Female", "102")
                                            <span>Female</span>
                                        </label>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix right css10">
                                <button class="btn btn-primary mr5 waves-effect" type="submit">Submit</button>
                                <button class="btn btn-default waves-effect">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default panel-hovered panel-stacked mb30">
                        <div class="panel-heading">Address</div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

