@model HR.Web.ViewModels.HtmlTblVm<HR.Web.Models.TravelClaimHeader>
@section Styles{
    <style>
        .pagination {
            display: table;
            margin: 15px auto;
            position: relative;
            float: right;
        }

        .width {
            width: 60%;
        }
    </style>
}


    <div class="page">
        <div class="page-wrap">
            <div class="panel panel-default">
               
            <div class="panel-heading">
                Claims List
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ApprovedClaimsList", "PayRoll", FormMethod.Get, new { id = "frm", name = "frm" }))
    {
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-1">
                    @Html.DropDownList("Year", SelectListItemHelper.GetYears(), new { @class = "form-control input-sm", onchange = "getclaimslist()" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("Month", SelectListItemHelper.GetMonths(), new { @class = "form-control input-sm", onchange = "getclaimslist()" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("ClaimsStatus", SelectListItemHelper.ClaimStatus(),  new { @class = "form-control input-sm", onchange = "getclaimslist()" })
                </div>
            </div>
}
                @using (Html.BeginForm("ApproveTravelClaimSave", "PayRoll", FormMethod.Post, new { id = "frmclaim", name = "frmclaim" }))
                {
            <table class="table table-condensed table-bordered css10">
                <thead>
                    <tr>
                        @*@if (ViewData["Status"].ToString() == UTILITY.TRAVELCLAIMAPPROVED)
                {
        <th></th>

                }*@

                        <th>Claim No</th>
                        <th>Employee Name</th>
                        @*<th>
            Submitted On
        </th>*@
                        <th>
                            Amount
                        </th>
                        @if (ViewData["Status"].ToString() != UTILITY.TRAVELCLAIMREJECTED)
            {
                    <th>
                        Total Amount Paid
                    </th>

                 }
                        @if (ViewData["Status"].ToString() == UTILITY.TRAVELCLAIMREJECTED)
                            {
                    <th>
                        Rejected On
                    </th>
                    <th>
                        Rejected By
                    </th>
                            }
                        else
                        {
                    <th>
                        Approved On
                    </th>
                    <th>
                        Approved By
                    </th>
                        }
                        <th>
                            View
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.TableData.Count(); i++)
                    {
                    <tr id="len_@i" class="length">
                        @Html.HiddenFor(x => x.TableData[i].TravelClaimId)
                        @*@if (ViewData["Status"].ToString() == UTILITY.TRAVELCLAIMAPPROVED)
            {
        <td>
            @Html.CheckBox("TableData[" + i + "].IsChecked", new { @class = "myChk", id = "TableData" + i + "_IsChecked", data_index = i })
            @Html.HiddenFor(x => Model.TableData[i].EmployeeId)
            @Html.HiddenFor(x => Model.TableData[i].TravelClaimId)
            @Html.HiddenFor(x => Model.TableData[i].BranchId)
        </td>
            }*@
                        <td>@Model.TableData[i].ClaimNo</td>
                        <td>@Model.TableData[i].Name</td>
                        @*<td>
            @Model.TableData[i].CreatedOn.Value.ToString("dd/MM/yyyy")
        </td>*@
                        <td>@Model.TableData[i].GrossTotal</td>
                        @if (ViewData["Status"].ToString() == UTILITY.TRAVELCLAIMAPPROVED)
    {
                    <td>@Html.TextBoxFor(x => Model.TableData[i].TotalAmtPaid, new { @class = "form-control input-sm decimalCss txtCss", id = i + "_TotalAmtPaid" })</td>
}
                        @if (ViewData["Status"].ToString() == "PROCESSED")
                         {
                             <td>@Model.TableData[i].TotalAmtPaid</td>
                            }

                        <td>@Model.TableData[i].CreatedOn.Value.ToString("dd/MM/yyyy")</td>
                        <td>@Model.TableData[i].CreatedBy</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" onclick="view(@Model.TableData[i].TravelClaimId)">
                                <i class="fa fa-eye"></i>
                                View
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
                }
            @if (ViewData["Status"].ToString() == UTILITY.TRAVELCLAIMAPPROVED)
{
            <div class="row">
                <button class="btn btn-primary btn-sm" type="button" onclick="Save()">
                    <i class="fa fa-floppy-o"></i>
                    Settled
                </button>
            </div>
}
            <div class="row">
                <div class="col-md-12">
                    <div id="pagination"></div>
                </div>
            </div>
            </div>
              
            </div>

        </div>
    </div>


@*@using (Html.BeginForm("ApprovedClaimsList", "PayRoll", FormMethod.Get, new { id = "frmclaimslist", name = "frmclaimslist" }))
{
    <div class="row" style="padding-top:10px">
        @Html.Hidden("Year")
        @Html.Hidden("Month")
        @Html.Hidden("ClaimsStatus")
    </div>
}*@
<div id="myPreviewModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:1250px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Preview</b></h4>
                <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" id="modalContent1">

            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Core/jquery.bootpag.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#ClaimsStatus').val('@ViewData["Status"]');
            $('#li_claims').addClass('open');
            $('#li_Approvedlist').addClass('active');
            $('#pagination').bootpag({
                total: @Model.PageLength,
                page: @Model.CurrentPage,
                maxVisible: 10,
                href: '@Url.Content("~/PayRoll/ApprovedClaimsList?page="){{number}}',  //"#pro-page-{{number}}",
                leaps: false,
                next: 'Next',
                prev: 'Prev',
                wrapClass: 'pagination pagination-sm'
            }).on('page', function (event, num) {
                $(".content3").html("Page " + num); // or some ajax content loading...
            });

            $('th').each(function (col) {
                $(this).hover(
                function () { $(this).addClass('focus'); },
               function () { $(this).removeClass('focus'); }
               );
                $(this).click(function () {
                    if ($(this).is('.asc')) {
                        $(this).removeClass('asc');
                        $(this).addClass('desc selected');
                        sortOrder = -1;
                    }
                    else {
                        $(this).addClass('asc selected');
                        $(this).removeClass('desc');
                        sortOrder = 1;
                    }
                    $(this).siblings().removeClass('asc selected');
                    $(this).siblings().removeClass('desc selected');
                    var arrData = $('table').find('tbody >tr:has(td)').get();
                    arrData.sort(function (a, b) {
                        var val1 = $(a).children('td').eq(col).text().toUpperCase();
                        var val2 = $(b).children('td').eq(col).text().toUpperCase();
                        if ($.isNumeric(val1) && $.isNumeric(val2))
                            return sortOrder == 1 ? val1 - val2 : val2 - val1;
                        else
                            return (val1 < val2) ? -sortOrder : (val1 > val2) ? sortOrder : 0;
                    });
                    $.each(arrData, function (index, row) {
                        $('tbody').append(row);
                    });
                });
            });

        });
        function view(travelclaimid) {
            LoadingAnimation();
            $.ajax({
                url: '@Url.Content("~/PayRoll/PreviewTravelClaim?TravelClaimId=")' + travelclaimid,
                contentType: 'text/html',
                method: 'GET',
                success: function (data) {
                    StopLoadingAnimation();
                    $('#myPreviewModal').modal('show');
                    $('#modalContent1').html('');
                    $('#modalContent1').html(data);
                },
                error: function (err) {

                }
            });
            }
            function Save() {

                //var atleastOneChecked = $('.myChk').is(':checked');
                
                //if (!atleastOneChecked) {
                //    swal("Please Select the Checkbox which you want to approve");
                //}
                //else {
                debugger;
                var length = $('.length').length;
                if (length > 0) {
                    $('#frmclaim').submit();

                    swal({
                        title: "Settled Successfully",
                        text: "",
                        closeOnConfirm: true,
                        confirmButtonText: "Ok",
                        confirmButtonClass: "btn-primary",
                        timer: 5000
                    },
                        function () {
                            $.loader({
                                className: "blue-with-image-2",
                                content: '',
                            });
                        })
                }
                else {
                    swal("There are no records to save");
                }  
                    
                //}
            }
        function getclaimslist() {
            $('#frm').submit();
        }


    </script>
}
