@model HR.Web.Models.Contribution
<link href="~/Css/sweetalert.css" rel="stylesheet" />
@using (Html.BeginForm("ContributionSave", "PayRoll", FormMethod.Post, new { id = "contributionfrm", name = "contributionfrm" }))
{
    <div class="page">
        <div class="page-wrap">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Contribution registers
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Name</span>
                            </label>
                            <div class="col-md-8">
                                @Html.HiddenFor(x => x.ContributionId)
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Register Code</span>
                            </label>
                            @{
                                var ContributionRegister = SelectListItemHelper.ContributionRegister();
                            }
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.RegisterCode,
                                                                    new SelectList(ContributionRegister,
                                                                    "Value", "Text", Model.RegisterCode), "", new { @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Description</span>
                            </label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Status</span>
                            </label>
                            <div style="margin-top:10px">
                                @Html.CheckBox(nameof(Model.IsActive), Model.IsActive)
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="form-group ">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-sm" onclick="ContributionSave()">Save</button>
                                    <button class="btn btn-primary btn-sm ajaxCss" type="reset" onclick="location.href='@Url.Content("~/PayRoll/ContributionRegisterList/")'">Discard</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }
<link href="~/Css/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/Core/sweetalert.js"></script>
@section Scripts{
    <script type="text/javascript">
        function ContributionSave() {
            if ($('#contributionfrm').valid()) {
                $.loader({
                    className: "blue-with-image-2",
                    content: '',
                });
                $('#contributionfrm').submit();
            }
        }
        $('#contributionfrm').validate({
            rules: {
                Name: {
                    required: true,

                },
                Description: {
                    required: true,

                }
            }
        });
        $(function () {
            $('#li_PayRollConfig').addClass('open');
            $('#li_ContributionRegisterList').addClass('active');
        });

    </script>
}