@model IEnumerable<HR.Web.Models.TravelClaimHeader>


<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="panel-heading">
                    Process Travel Claim
                </div>
                <div class="panel-body">
                    <table class="table table-conden table-bordered">
                        <thead>
                            <tr>
                                <th>
                                   
                                </th>
                                <th>
                                   TravelClaim No
                                </th>
                                <th>
                                   Employee Name
                                </th>
                                <th>Submission Date</th>
                                <th>Total Claim</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count(); i++)
                            {
                                @Html.HiddenFor(x=>x.ElementAt(i).BranchId)
                                
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        @Model.ElementAt(i).TravelClaimId
                                    </td>
                                    <td>@Model.ElementAt(i).Name</td>
                                    <td>@Model.ElementAt(i).CreatedOn.Value.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        @Model.ElementAt(i).GrossTotal
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <i class="fa fa-eye"></i>
                                            View
                                        </button>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                       
                    </table>
               <div class="row">
                   <div class="col-md-12">
                       <button class="btn btn-primary btn-sm">
                           <i class="fa fa-floppy-o"></i>
                           Approve
                       </button>
                       <button class="btn btn-primary btn-sm">
                           <i class="fa fa-trash-o"></i>
                           Reject
                       </button>
                   </div>
               </div>
                </div>
            </div>
        </div>

    </div>
</div>

   
