@model IEnumerable<HR.Web.Models.TravelClaimHeader>

<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="panel-heading">
                    Process Travel Claim
                </div>
                <div class="panel-body">
                    <table class="table table-conden table-bordered">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    TravelClaim No
                                </th>
                                <th>
                                    Employee Name
                                </th>
                                <th>Submission Date</th>
                                <th>Total Claim</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count(); i++)
                            {
                                @Html.HiddenFor(x => x.ElementAt(i).BranchId)
                                @Html.HiddenFor(x=>x.ElementAt(i).TravelClaimId)
                                @Html.HiddenFor(x=>x.ElementAt(i).EmployeeId)
                                <tr id="len_@i" class="length">
                                    <td>
                                            <input type="checkbox" class="chk" id="chk_@i" name="chk" data-index="@Model.ElementAt(i).TravelClaimId" value="@Model.ElementAt(i).TravelClaimId"  />
                                    </td>
                                    <td>
                                        @Model.ElementAt(i).ClaimNo
                                    </td>
                                    <td>@Model.ElementAt(i).Name</td>
                                    <td>@Model.ElementAt(i).CreatedOn.Value.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        @Model.ElementAt(i).GrossTotal
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <i class="fa fa-eye"></i>
                                            View
                                        </button>
                                    </td>
                                </tr>
                                }

                        </tbody>

                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-sm" type="button" onclick="Approve()">
                                <i class="fa fa-check"></i>
                                Approve
                            </button>
                            <button class="btn btn-primary btn-sm" type="button" onclick="Reject()">
                                <i class="fa fa-times"></i>
                                Reject
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
@using (Html.BeginForm("ApproveTravelClaim", "PayRoll", FormMethod.Post, new { id = "frmapprove", name = "frmapprove" }))
{
    <input type="hidden" id="travelclaimid" name="travelclaimid" />
}
@using (Html.BeginForm("RejectTravelClaim", "PayRoll", FormMethod.Post, new { id = "frmreject", name = "frmreject" }))
{
    <input type="hidden" id="travelclaimrejid" name="travelclaimrejid" />
}
@section Styles{
    <script type="text/javascript">
        var index="";
        $(function(){
            $('.chk').on("ifChanged", function (event) {
                var temp = this;
                index = $(this).data('index');
                $('#travelclaimid').val(index);
                $('#travelclaimrejid').val(index);
            });
        })
      
        function Approve() {
            if (index == "") {
                swal("Please Select the Checkbox which you want to approve");
            }
            else {
                if ($('#frmapprove').valid()) {
                    $('#frmapprove').submit();

                    swal({
                        title: "Saved Successfully",
                        text: "",
                        closeOnConfirm: true,
                        confirmButtonText: "Ok",
                        confirmButtonClass: "btn-primary",
                        timer: 5000
                    },
                         function () {
                             $.loader({
                                 className: "blue-with-image-2",
                                 content: '',
                             });
                         })
                }
            }
                
            }
           
          
        function Reject() {
          
            if (index == "") {
                swal("Please Select the Checkbox which you want to Reject");
            }
            else
            {
                if ($('#frmreject').valid()) {
                    $('#frmreject').submit();
                    swal({
                        title: "Rejected Successfully",
                        text: "",
                        closeOnConfirm: true,
                        confirmButtonText: "Ok",
                        confirmButtonClass: "btn-primary",
                        timer: 5000
                    },
                         function () {
                             $.loader({
                                 className: "blue-with-image-2",
                                 content: '',
                             });
                         })
                }
            }
                
            }
           
         


    </script>
    
    
    }


   
