@model HR.Web.ViewModels.SalaryStructureVm

@section Styles{

    <style>
        .table tfoot {
            display: table-footer-group;
        }

        .no-wrap {
            white-space: nowrap;
        }
    </style>
}

<div class="page">
    @using (Html.BeginForm("SalaryStructure", "Payroll", FormMethod.Post, new { id = "frmSalary", name = "frmSalary" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-hovered panel-stacked mb10">
                    <div class="panel-heading">
                        Salary Structure
                    </div>
                    <div class="panel-body">
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Code</span>
                            </label>
                            <div class="col-md-4">
                                @Html.HiddenFor(x => x.structureHeader.StructureID)
                                @Html.TextBoxFor(x => x.structureHeader.Code, new { @class = "form-control" })
                            </div>
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Effective Date</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group date dtCss" id="EffectiveDate">
                                    @Html.TextBoxFor(x => x.structureHeader.EffectiveDate, "{0:dd/MM/yyyy}", new { @class = "form-control dtCssTxt" })
                                    <span class="input-group-addon">
                                        <i class="ion ion-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Remarks</span>
                            </label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(x => x.structureHeader.Remarks, new { @class = "form-control" })
                            </div>

                            <label class="col-md-2 control-label">
                                <span class="pull-right">Is Active</span>
                            </label>
                            <div class="col-md-4" style="margin-top:10px;">
                                @Html.CheckBoxFor(x => x.structureHeader.IsActive, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="clearfix">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Code</th>
                                                    <th>Description</th>
                                                    <th class="no-wrap">Contribution Register</th>
                                                    <th>Computation</th>
                                                    <th>Amount</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    var ContributionRegister = SelectListItemHelper.ContributionRegister();
                                                    var Computation = SelectListItemHelper.Computation();

                                                }
                                                @for (int i = 0; i < Model.structureCompanyDeductionDetail.Count; i++)
                                                {

                                                    @Html.HiddenFor(x => x.structureCompanyDeductionDetail[i].StructureDetailID)
                                                    <tr class="trCss">
                                                        <td>
                                                            @Html.CheckBoxFor(x => x.structureCompanyDeductionDetail[i].IsActive, new { @class = "form-control chkCss", data_index = i })
                                                        </td>
                                                        @Html.HiddenFor(x => x.structureCompanyDeductionDetail[i].Code)
                                                        <td>
                                                            @Html.DisplayFor(x => x.structureCompanyDeductionDetail[i].Code)
                                                            @Html.HiddenFor(x => x.structureCompanyDeductionDetail[i].Description)
                                                        </td>
                                                        <td style="width:250px;">@Html.DisplayFor(x => x.structureCompanyDeductionDetail[i].Description)</td>
                                                        <td>
                                                            @Html.DropDownListFor(x => x.structureCompanyDeductionDetail[i].RegisterCode,
                                                                 new SelectList(ContributionRegister, "Value", "Text", Model.structureCompanyDeductionDetail[i].RegisterCode), "", new { @class = "form-control input-sm" })
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(x => x.structureCompanyDeductionDetail[i].ComputationCode,
                                                                 new SelectList(Computation, "Value", "Text", Model.structureCompanyDeductionDetail[i].ComputationCode), "", new { @class = "form-control input-sm", onchange = "calculateTotal()" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.structureCompanyDeductionDetail[i].Amount, new { @class = "form-control input-sm", onblur = "validateAmount(this," + i + ")" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.structureCompanyDeductionDetail[i].Total, new { @class = "form-control input-sm", @readonly = "readonly" })
                                                        </td>


                                                    </tr>
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="text-align:right;">Total Gross</td>
                                                    <td>@Html.TextBoxFor(x => x.structureHeader.TotalGross, new { @class = "form-control input-sm", @readonly = "readonly" })</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <h4>Deductions</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Code</th>
                                                    <th>Description</th>
                                                    <th class="no-wrap">Contribution Register</th>
                                                    <th>Computation</th>
                                                    <th>Amount</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @for (int i = 0; i < Model.structureEmployeeDeductionDetail.Count; i++)
                                                {

                                                    @Html.HiddenFor(x => x.structureEmployeeDeductionDetail[i].StructureDetailID)
                                                    <tr class="trCssDeduct">
                                                        <td>
                                                            @Html.CheckBoxFor(x => x.structureEmployeeDeductionDetail[i].IsActive, new { @class = "form-control chkCssDeduct", data_index = i })
                                                        </td>
                                                        @Html.HiddenFor(x => x.structureEmployeeDeductionDetail[i].Code)
                                                        <td>
                                                            @Html.DisplayFor(x => x.structureEmployeeDeductionDetail[i].Code)
                                                            @Html.HiddenFor(x => x.structureEmployeeDeductionDetail[i].Description)
                                                        </td>
                                                        <td style="width:250px;">@Html.DisplayFor(x => x.structureEmployeeDeductionDetail[i].Description)</td>
                                                        <td>
                                                            @Html.DropDownListFor(x => x.structureEmployeeDeductionDetail[i].RegisterCode,
                                                                 new SelectList(ContributionRegister, "Value", "Text", Model.structureEmployeeDeductionDetail[i].RegisterCode), "", new { @class = "form-control input-sm" })
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(x => x.structureEmployeeDeductionDetail[i].ComputationCode,
                                                                 new SelectList(Computation, "Value", "Text", Model.structureEmployeeDeductionDetail[i].ComputationCode), "", new { @class = "form-control input-sm", onchange = "calculateTotal()" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.structureEmployeeDeductionDetail[i].Amount, new { @class = "form-control input-sm", onblur = "validateDeductAmount(this," + i + ")" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.structureEmployeeDeductionDetail[i].Total, new { @class = "form-control input-sm", @readonly = "readonly" })
                                                        </td>


                                                    </tr>
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="text-align:right;">Total Deductions</td>
                                                    <td>@Html.TextBoxFor(x => x.structureHeader.TotalDeductions, new { @class = "form-control input-sm", @readonly = "readonly" })</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="text-align:right;">Total Payable</td>
                                                    <td>@Html.TextBoxFor(x => x.structureHeader.NetAmount, new { @class = "form-control input-sm", @readonly = "readonly" })</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                                    }
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-sm" type="button" onclick="SaveStructure()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        @{
            <text>
        var percentage = '@UTILITY.PERCENTAGE';
        var count= @Model.structureEmployeeDeductionDetail.Count +@Model.structureCompanyDeductionDetail.Count;
        </text>
        }

        function showHide(){
            for (var index = 1; index <count; index++)
            {
                $('#structureCompanyDeductionDetail_' + index + '__ComputationCode').attr('disabled', 'disabled');
                $('#structureCompanyDeductionDetail_' + index + '__RegisterCode').attr('disabled', 'disabled');
                $('#structureCompanyDeductionDetail_' + index + '__Amount').attr('disabled', 'disabled');


                $('#structureEmployeeDeductionDetail_' + index + '__ComputationCode').attr('disabled', 'disabled');
                $('#structureEmployeeDeductionDetail_' + index + '__RegisterCode').attr('disabled', 'disabled');
                $('#structureEmployeeDeductionDetail_' + index + '__Amount').attr('disabled', 'disabled');

            }

        }

        $(function () {

            $('#li_PayRollConfig').addClass('open');
            $('#li_SalaryStructures').addClass('active');
            showHide();
            var date = new Date();
            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right',

                },
                format: dateFormat,
                minDate: moment(date)
            });

            $('#frmSalary').validate({
                rules: {
                    'structureHeader.Code': {
                        required: true
                    },
                    'structureHeader.EffectiveDate': {
                        required: true
                    },
                    'structureHeader.Remarks': {
                        required: true
                    }
                }
            });
            $(".chkCss").trigger('ifChanged');

            $(".chkCssDeduct").trigger('ifChanged');

        });

        function SaveStructure() {
            if ($('#frmSalary').valid()){
                $.loader({
                    className: "blue-with-image-2",
                    content: '',
                });
                $('#frmSalary').submit();
            }

        }


        $('.chkCss').on("ifChanged", function (event) {
            var temp = this;
            var index=$(this).data('index');

            if($('#'+this.id).prop('checked')){



                $('#structureCompanyDeductionDetail_' + index + '__ComputationCode').attr('required','required');
                $('#structureCompanyDeductionDetail_' + index + '__RegisterCode').attr('required','required');
                $('#structureCompanyDeductionDetail_' + index + '__Amount').attr('required','required');


                $('#structureCompanyDeductionDetail_' + index + '__ComputationCode').removeAttr('disabled');
                $('#structureCompanyDeductionDetail_' + index + '__RegisterCode').removeAttr('disabled');
                $('#structureCompanyDeductionDetail_' + index + '__Amount').removeAttr('disabled');
            }
            else{
                $('#structureCompanyDeductionDetail_' + index + '__ComputationCode').val('').attr('disabled', 'disabled');
                $('#structureCompanyDeductionDetail_' + index + '__RegisterCode').val('').attr('disabled', 'disabled');
                $('#structureCompanyDeductionDetail_' + index + '__Amount').val('').attr('disabled', 'disabled');


                $('#structureEmployeeDeductionDetail_' + index + '__Total').val('')
                $('#structureCompanyDeductionDetail_' + index + '__Total').val('')

                $('#structureCompanyDeductionDetail_' + index + '__ComputationCode').removeAttr('required');
                $('#structureCompanyDeductionDetail_' + index + '__RegisterCode').removeAttr('required');
                $('#structureCompanyDeductionDetail_' + index + '__Amount').removeAttr('required');

                calculateTotal();
            }

        });


        $('.chkCssDeduct').on("ifChanged", function (event) {
            var temp = this;
            var index=$(this).data('index');

            if($('#'+this.id).prop('checked')){

                $('#structureEmployeeDeductionDetail_' + index + '__ComputationCode').attr('required','required');
                $('#structureEmployeeDeductionDetail_' + index + '__RegisterCode').attr('required','required');
                $('#structureEmployeeDeductionDetail_' + index + '__Amount').attr('required','required');

                $('#structureEmployeeDeductionDetail_' + index + '__ComputationCode').removeAttr('disabled');
                $('#structureEmployeeDeductionDetail_' + index + '__RegisterCode').removeAttr('disabled');
                $('#structureEmployeeDeductionDetail_' + index + '__Amount').removeAttr('disabled');

            }
            else{

                $('#structureEmployeeDeductionDetail_' + index + '__ComputationCode').val('').attr('disabled', 'disabled');
                $('#structureEmployeeDeductionDetail_' + index + '__RegisterCode').val('').attr('disabled', 'disabled');
                $('#structureEmployeeDeductionDetail_' + index + '__Amount').val('').attr('disabled', 'disabled');

                $('#structureEmployeeDeductionDetail_' + index + '__Total').val('')
                $('#structureCompanyDeductionDetail_' + index + '__Total').val('')

                $('#structureEmployeeDeductionDetail_' + index + '__ComputationCode').removeAttr('required');
                $('#structureEmployeeDeductionDetail_' + index + '__RegisterCode').removeAttr('required');
                $('#structureEmployeeDeductionDetail_' + index + '__Amount').removeAttr('required');

                calculateTotal();
            }

        });

        /* calculation */

        function calculateTotal(){
            var obj={};
            validateAmount(obj,0);
            validateDeductAmount(obj,0);
        }
        function validateAmount(el, index) {

            var rowCount=$('.trCss').length;
            var TotalGross=0;
            for(var i=0; i<rowCount;i++){
                var basicAmount=$('#structureCompanyDeductionDetail_' + 0 + '__Amount').val();
                if(index == 0 && basicAmount!=""){

                    basicAmount =parseFloat(basicAmount).toFixed(2);
                    $('#structureCompanyDeductionDetail_' + 0 + '__Total').val(basicAmount);
                }

                if(!$('#structureCompanyDeductionDetail_' + i + '__IsActive').prop('checked'))
                    continue;

                var total = $('#structureCompanyDeductionDetail_' + i + '__Amount').val();
                if(total!="")
                    total=parseFloat(total).toFixed(2);
                var ComputationCode = $('#structureCompanyDeductionDetail_' + i + '__ComputationCode').val();
                if (ComputationCode == percentage) {

                    if(total>100){
                        $('#structureCompanyDeductionDetail_' + i + '__Amount').val('');
                        swal({
                            title: "Alert!",
                            text: "Percentage value should be less than 100",
                            type: "warning"
                        });
                        return;
                    }
                    var grandTotal=(basicAmount* total)/100;
                    grandTotal=parseFloat(grandTotal).toFixed(2);
                    $('#structureCompanyDeductionDetail_' + i + '__Total').val(grandTotal);
                }else{
                    $('#structureCompanyDeductionDetail_' + i + '__Total').val(total);
                }

                /* Calculate Nett amount*/
                var currentValue=$('#structureCompanyDeductionDetail_' + i + '__Total').val();
                if(currentValue!="" && currentValue!=null){
                    TotalGross = parseFloat(TotalGross)+ parseFloat(currentValue);
                    TotalGross=TotalGross.toFixed(2);
                    $('#structureHeader_TotalGross').val(TotalGross);

                }

                var _totalGross= $('#structureHeader_TotalGross').val() == "" ? 0 :  $('#structureHeader_TotalGross').val();
                var _totalDeductions= $('#structureHeader_TotalDeductions').val()== "" ? 0 : $('#structureHeader_TotalDeductions').val();

                var netAmount=parseFloat(_totalGross)+ parseFloat(_totalDeductions);
                $('#structureHeader_NetAmount').val(netAmount.toFixed(2));

            }
            validateDeductAmount(this, 0);

        }

        function validateDeductAmount(el, index){

            var rowCount=$('.trCssDeduct').length;
            var netAmount=0;
            for(var i=0; i<rowCount;i++){
                var basicAmount=$('#structureCompanyDeductionDetail_' + 0 + '__Amount').val();
                if(index == 0 && basicAmount!=""){
                    basicAmount =parseFloat(basicAmount).toFixed(2);
                    $('#structureCompanyDeductionDetail_' + 0 + '__Total').val(basicAmount);
                }

                // if(!$('#structureEmployeeDeductionDetail_' + i + '__IsActive').prop('checked'))
                // continue;

                var total = $('#structureEmployeeDeductionDetail_' + i + '__Amount').val();
                if(total!="")
                    total=parseFloat(total).toFixed(2);
                var ComputationCode = $('#structureEmployeeDeductionDetail_' + i + '__ComputationCode').val();
                if (ComputationCode == percentage) {

                    if(total>100){
                        $('#structureEmployeeDeductionDetail_' + i + '__Amount').val('');
                        swal({
                            title: "Alert!",
                            text: "Percentage value should be less than 100",
                            type: "warning"
                        });
                        return;
                    }
                    var grandTotal=(basicAmount* total)/100;
                    grandTotal=parseFloat(grandTotal).toFixed(2);
                    $('#structureEmployeeDeductionDetail_' + i + '__Total').val(grandTotal);
                }else{
                    $('#structureEmployeeDeductionDetail_' + i + '__Total').val(total);
                }

                /* Calculate Nett amount*/
                var currentValue=$('#structureEmployeeDeductionDetail_' + i + '__Total').val() == "" ? 0 :$('#structureEmployeeDeductionDetail_' + i + '__Total').val();
                //if(currentValue!="" && currentValue!=null){
                netAmount = parseFloat(netAmount)+ parseFloat(currentValue);
                netAmount=netAmount.toFixed(2);
                $('#structureHeader_TotalDeductions').val(netAmount);
                //}

            }
            var _totalGross= $('#structureHeader_TotalGross').val() == "" ? 0 :  $('#structureHeader_TotalGross').val();
            var _totalDeductions= $('#structureHeader_TotalDeductions').val()== "" ? 0 : $('#structureHeader_TotalDeductions').val();

            var netAmount=parseFloat(_totalGross)+ parseFloat(_totalDeductions);
            $('#structureHeader_NetAmount').val(netAmount.toFixed(2));

        }
    </script>
}