@model HR.Web.ViewModels.HtmlTblVm<HR.Web.ViewModels.SalaryRuleHeaderVm>

<div class="page">
    <div class="page-wrap">
        <div class="row">
            @for (int i = 0; i < Model.TableData.Count; i++)
            {
                <div class="col-md-6">
                    <div class="panel panel-default panel-hovered panel-stacked mb10">
                        <div class="box">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Name: <b>@Model.TableData[i].Name</b></label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-right">Code: <b>@Model.TableData[i].Code</b></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Category: <b>@Model.TableData[i].Category</b></label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">SequenceNo: <b>@Model.TableData[i].SequenceNo</b></label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <blockquote>

                                            <div class="pull-right">
                                                <button class="btn btn-primary btn-sm"
                                                            type="button"
                                                            onclick="location.href = '@Url.Content("~/PayRoll/SalaryRules?RuleId=")'+ @Model.TableData[i].RuleId">
                                                        <i class="fa fa-eye"></i>&nbsp;View
                                                    </button>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="pagination" class="pull-right"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Core/jquery.bootpag.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#pagination').bootpag({
                total: @Model.PageLength,
                page: @Model.CurrentPage,
                maxVisible: 6,
                href: '@Url.Content("~/PayRoll/SalaryRulesList?page="){{number}}', //"#pro-page-{{number}}",
                leaps: false,
                next: 'Next',
                prev: 'Prev',
                wrapClass: 'pagination pagination-sm'
            }).on('page', function (event, num) {
                $(".content3").html("Page " + num); // or some ajax content loading...
            });
        });
    </script>
}