@model HR.Web.ViewModels.TravelClaimVm
@{
    ViewBag.Title = "TravelClaim";
}
@section Styles{
    <style>
        .multiselect-container {
            position: absolute;
            /* list-style-type: none; */
            margin: 0;
            padding: 0;
            max-height: 200px;
            overflow-y: auto;
            /* overflow-y: scroll; */
            /* overflow: auto; */
        }
    </style>
}
<div class="page">
    @using (Html.BeginForm("TravelClaim", "Payroll", FormMethod.Post, new { id = "frmClaim", name = "frmClaim" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-hovered panel-stacked mb10">
                    <div class="panel-heading">
                        Travel Expenses Claim Form - @Model.claimHeader.Name
                    </div>
                    <div class="panel-body">
                        @*@Html.HiddenFor(x => x.claimHeader.TravelClaimId)*@
                        <input type="hidden" id="claimHeader_TravelClaimId" name="claimHeader.TravelClaimId" value="@Model.claimHeader.TravelClaimId" />
                        @Html.HiddenFor(x => x.claimHeader.Name)
                        @Html.HiddenFor(x => x.claimHeader.EmployeeId)
                        <div class="row css5">

                            <label class="col-md-2 control-label">
                                <span class="pull-right">From Date</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group date dtCss" id="FromDate">
                                    @Html.TextBoxFor(x => x.claimHeader.FromDate,
                                   new { @class = "form-control dtCssTxt input-sm" })
                                    <span class="input-group-addon">
                                        <i class="ion ion-calendar"></i>
                                    </span>
                                </div>

                            </div>
                            <label class="col-md-2 control-label">
                                <span class="pull-right">To Date</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group date dtCss" id="FromDate">
                                    @Html.TextBoxFor(x => x.claimHeader.ToDate,
                                   new { @class = "form-control dtCssTxt input-sm" })
                                    <span class="input-group-addon">
                                        <i class="ion ion-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Country Visited</span>
                            </label>
                            <div class="col-md-4">
                                @*@Html.TextBoxFor(x => x.claimHeader.CountryVisited, new { @class = "form-control input-sm" })*@
                                @Html.DropDownListFor(x => x.claimHeader.CountryVisited, SelectListItemHelper.CountryList(), new { @multiple = "multiple", @class = "form-control input-sm" })
                            </div>

                            <label class="col-md-2 control-label">
                                <span class="pull-right">No Of Days</span>
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.claimHeader.NoOfDays, new { @class = "form-control input-sm" })
                            </div>

                        </div>

                        <button type="button" class="btn btn-info btn-sm pull-right" onclick="SaveAndGetData()">
                            <i class="fa fa-plus"></i>Add
                        </button>

                        <div class="clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-bordered" style="margin-top:10px">
                                            <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th style="width:40px;">Date</th>
                                                    <th>Description</th>
                                                    <th style="white-space:nowrap">Receipts (Y/N)</th>
                                                    <th>Amount</th>
                                                    <th style="white-space:nowrap">Currency</th>
                                                    <th>Exchange Rate</th>
                                                    <th>Total</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.claimDetail.Count; i++)
                                                {
                                                   
                                                    <tr id="tr_@i">
                                                        <td>
                                                            <input id="claimDetail_@(i)__TravelClaimDetailId" 
                                                                   name="claimDetail[@(i)].TravelClaimDetailId" type="hidden" value="@Model.claimDetail[i].TravelClaimDetailId">
                                                            @Html.DropDownListFor(x => x.claimDetail[i].Category, SelectListItemHelper.TravelExpenses(), new { @class = "form-control input-sm" })
                                                        </td>
                                                        <td>

                                                            <div class="input-group date dtCss" id="TravelDate">
                                                                @Html.TextBoxFor(x => x.claimDetail[i].TravelDate, new { @class = "form-control input-sm dtCssTxt wdCss", @required = "required", @style = "width:80px;" })
                                                                <span class="input-group-addon">
                                                                    <i class="ion ion-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            @Html.TextAreaFor(x => x.claimDetail[i].Description, new { @class = "form-control input-sm", @style = "width:80px;" })
                                                        </td>
                                                        <td style="width:80px;">

                                                            @Html.RadioButtonFor(x => x.claimDetail[i].Receipts, 0, "Yes")
                                                            <span>Yes</span>
                                                            @Html.RadioButtonFor(x => x.claimDetail[i].Receipts, 1, "No")
                                                            <span>No</span>
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.claimDetail[i].Amount, new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @required = "required",
                                                           @style = "width:80px;",
                                                           @onblur = "CalculateTotal(this)",
                                                           data_index = i
                                                       })
                                                        </td>
                                                        <td>
                                                            <select class="form-control input-sm cssLength" data-val="true" id="currency" name="currency" onchange="CalculateByCurrency(this)" data-index=@i>
                                                                <option value="INR">INR</option>
                                                                <option selected="selected" value="USD">USD</option>

                                                            </select>
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.claimDetail[i].ExchangeRate, new { @class = "form-control input-sm", @required = "required", @onblur = "CalculateByRate(this)", data_index = i })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.claimDetail[i].TotalInSGD, new { @class = "form-control input-sm", @required = "required", @readonly = "readolny" })
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-xs btn-danger btn-sm waves-effect"
                                                                    style="padding-left: 5px;margin-left: 6px;" onclick="deleteClaimDetail(@Model.claimDetail[i].TravelClaimDetailId,@i)">
                                                                <i class="fa fa-trash-o" style="padding-left: 5px;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                    <td><span class="pull-right"><b>Total: </b></span></td>
                                                    <td>@Html.TextBoxFor(x => x.claimHeader.GrossTotal, new { @class = "form-control input-sm", @readonly = "readonly" })</td>
                                                    <td></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>
@section Scripts{
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
          rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
            type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right',

                },
                format: dateFormat
            });

            $('#frmClaim').validate({
                rules: {
                    'claimHeader.Name': {
                        required: true
                    },
                    'claimHeader.FromDate': {
                        required: true
                    },
                    'claimHeader.ToDate': {
                        required: true
                    },
                    'claimHeader.CountryVisited': {
                        required: true
                    },
                    'claimHeader.NoOfDays': {
                        required: true
                    }
                }
            });

            $('#claimHeader_CountryVisited').multiselect({
                includeSelectAllOption: true
            });

        });
        function SaveAndGetData() {
            if ($('#frmClaim').valid()) {
                $('#frmClaim').submit();
            }
        }

        function CalculateTotal(obj) {
            var index = $(obj).data('index');
            var amount = parseFloat($('#claimDetail_' + index + '__Amount').val());
            var exchangeRate = parseFloat($('#claimDetail_' + index + '__ExchangeRate').val());
            var Total = amount * exchangeRate;

            $('#claimDetail_' + index + '__TotalInSGD').val(Total);

            var length = $('.cssLength').length;
            var grossTotal = 0;
            for (var i = 0; i < length; i++) {

                var grossVal = $('#claimDetail_' + i + '__TotalInSGD').val();

                grossTotal = parseFloat(grossTotal) + parseFloat(grossVal);

                $('#claimHeader_GrossTotal').val(grossTotal);
            }
        }

        function CalculateByCurrency(obj) {
            var index = $(obj).data('index');
            var amount = parseFloat($('#claimDetail_' + index + '__Amount').val());
            var exchangeRate = parseFloat($('#claimDetail_' + index + '__ExchangeRate').val());
            var Total = amount * exchangeRate;

            $('#claimDetail_' + index + '__TotalInSGD').val(Total);
            var length = $('.cssLength').length;
            var grossTotal = 0;
            for (var i = 0; i < length; i++) {

                var grossVal = $('#claimDetail_' + i + '__TotalInSGD').val();

                grossTotal = parseFloat(grossTotal) + parseFloat(grossVal);

                $('#claimHeader_GrossTotal').val(grossTotal);
            }
        }

        function CalculateByRate(obj) {
           
            var index = $(obj).data('index');
            var amount = parseFloat($('#claimDetail_' + index + '__Amount').val());
            var exchangeRate = parseFloat($('#claimDetail_' + index + '__ExchangeRate').val());
            var Total = amount * exchangeRate;

            $('#claimDetail_' + index + '__TotalInSGD').val(Total);

            var length = $('.cssLength').length;
            var grossTotal = 0;
            for (var i = 0; i < length; i++) {

                var grossVal = $('#claimDetail_' + i + '__TotalInSGD').val();

                grossTotal = parseFloat(grossTotal) + parseFloat(grossVal);

                $('#claimHeader_GrossTotal').val(grossTotal);
            }

        }

        function deleteClaimDetail(detailId,index) {
            debugger;
            if (detailId != undefined && detailId != null && detailId != 0) {
                //$('#frmClaim').attr('action', '@Url.Content("~/Payroll/DeleteTravelClaim")');
                 $('#frmClaim').attr('action', '@Url.Content("~/Payroll/DeleteTravelClaim?detailId=")' + detailId)
                $('#frmClaim').submit();
            }
            else {
                $('#tr_'+index).remove();
            }
        }

    </script>
}