@model HR.Web.ViewModels.TravelClaimVm
@{
    ViewBag.Title = "TravelClaim";
}
@section Styles{
    <style>
        .multiselect-container {
            position: absolute;
            /* list-style-type: none; */
            margin: 0;
            padding: 0;
            max-height: 200px;
            overflow-y: auto;
            overflow-x: visible;
            /* overflow-y: scroll; */
            /* overflow: auto; */
        }

        .top > th {
            background: #ccc !important;
        }

        .table tr th {
            background-color: #fff;
            color: #000;
        }

        .cal-icon {
            display: initial;
        }

        .table tr th a {
            color: #000;
        }

        .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
            color: #333333;
            background: none;
        }

            .dropdown-menu > .active > a:hover {
                background: #f5f5f5;
                color: #333333;
            }

        @@media screen and (min-width: 1600px) {
            .cal-cal-icon {
                display: table;
            }
        }


        .datepicker table {
            position: relative;
            z-index: 9999;
        }
    </style>
}
<div class="page" style="overflow:visible;">
    @using (Html.BeginForm("TravelClaim", "Payroll", FormMethod.Post, new { id = "frmClaim", name = "frmClaim" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-hovered panel-stacked mb10">
                    <div class="panel-heading">
                        Travel Expenses Claim Form - @Model.claimHeader.Name
                    </div>
                    <div class="panel-body">
                        <input type="hidden" id="claimHeader_TravelClaimId" name="claimHeader.TravelClaimId" value="@Model.claimHeader.TravelClaimId" />
                        @Html.HiddenFor(x => x.claimHeader.Name)
                        @Html.HiddenFor(x => x.claimHeader.EmployeeId)
                        <div class="row css5">

                            <label class="col-md-2 control-label">
                                <span class="pull-right">From Date</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group date dtCss" id="FromDate">
                                    @Html.TextBoxFor(x => x.claimHeader.FromDate,
                                   new { @class = "form-control dtCssTxt input-sm" })
                                    <span class="input-group-addon">
                                        <i class="ion ion-calendar"></i>
                                    </span>
                                </div>

                            </div>
                            <label class="col-md-2 control-label">
                                <span class="pull-right">To Date</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group date dtCss" id="ToDate">
                                    @Html.TextBoxFor(x => x.claimHeader.ToDate,
                                   new { @class = "form-control dtCssTxt input-sm" })
                                    <span class="input-group-addon">
                                        <i class="ion ion-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Country Visited</span>
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(x => x.claimHeader.CountryVisited, SelectListItemHelper.CountryList(), new { @class = "form-control input-sm", @multiple = "multiple", @required = "required" })
                            </div>

                            <label class="col-md-2 control-label">
                                <span class="pull-right">No Of Days</span>
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.claimHeader.NoOfDays, new { @class = "form-control input-sm numCss" })
                            </div>

                        </div>

                        <button type="button" class="btn btn-info btn-sm pull-right" onclick="SaveAndGetData()">
                            <i class="fa fa-plus"></i>Add
                        </button>

                        <div class="clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-bordered" style="margin-top:10px">
                                            <thead>
                                                <tr style="background:#3f51b5;">
                                                    <th style="background:#3f51b5; color:#fff;">Category</th>
                                                    <th style="background:#3f51b5; color:#fff;">Date</th>
                                                    <th style="background:#3f51b5; color:#fff;">Description</th>
                                                    <th style="white-space:nowrap; background:#3f51b5; color:#fff;">Receipts (Y/N)</th>
                                                    <th style="background:#3f51b5; color:#fff;">Amount</th>
                                                    <th style="white-space:nowrap; background:#3f51b5; color:#fff;">Currency</th>
                                                    <th style="background:#3f51b5; color:#fff;">Exchange Rate</th>
                                                    <th style="background:#3f51b5; color:#fff;">Total</th>
                                                    <th style="background:#3f51b5; color:#fff;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.claimDetail.Count; i++)
                                                {

                                                    <tr id="tr_@i" class="cssLength">
                                                        <td>
                                                            <input id="claimDetail_@(i)__TravelClaimDetailId"
                                                                   name="claimDetail[@(i)].TravelClaimDetailId" type="hidden" value="@Model.claimDetail[i].TravelClaimDetailId">
                                                            @Html.DropDownListFor(x => x.claimDetail[i].Category, SelectListItemHelper.TravelExpenses(), new { @class = "form-control input-sm", @style = "width:100px;", @required = "required" })
                                                            <script>
                                                                $(document).ready(function () {
                                                                    $('#claimDetail_' + '@i' + '__Category').val('@Model.claimDetail[i].Category');
                                                                    $('#claimDetail_' + '@i' + '__Currency').val('@Model.claimDetail[i].Currency');
                                                                });
                                                            </script>
                                                        </td>
                                                        <td>

                                                            <div class="input-group date dtCss" id="TravelDate">
                                                                @Html.TextBoxFor(x => x.claimDetail[i].TravelDate, new { @class = "form-control input-sm dtCssTxt wdCss", @required = "required", @style = "width:100px;" })
                                                                <span class="input-group-addon cal-cal-icon">
                                                                    <i class="ion ion-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.claimDetail[i].Description, new { @class = "form-control input-sm", @style = "width:100px;" })
                                                        </td>
                                                        <td>

                                                            @Html.RadioButtonFor(x => x.claimDetail[i].Receipts, true, "Yes")
                                                            <span>Y</span>
                                                            @Html.RadioButtonFor(x => x.claimDetail[i].Receipts, false, "No")
                                                            <span>N</span>
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.claimDetail[i].Amount, new
                                                       {
                                                           @class = "form-control input-sm decimalCss",
                                                           @required = "required",
                                                           @style = "width:100px;",
                                                           @onblur = "CalculateTotal(this)",
                                                           data_index = i
                                                       })
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(x => x.claimDetail[i].Currency, SelectListItemHelper.CurrnyList(), new { @class = "form-control", @style = "width:100px;", @onchange = "CalculateTotal(this)", data_index = i, @required = "required" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.claimDetail[i].ExchangeRate, new { @class = "form-control input-sm decimalCss", @style = "width:100px;", @readonly = true })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.claimDetail[i].TotalInSGD, new { @class = "form-control input-sm", @style = "width:100px", @readonly = "readolny" })
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-xs btn-danger btn-sm waves-effect"
                                                                    style="padding-left: 5px;margin-left: 6px;" onclick="deleteClaimDetail(@Model.claimDetail[i].TravelClaimDetailId,@i)">
                                                                <i class="fa fa-trash-o" style="padding-left: 5px;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                    <td><span class="pull-right"><b>Total  </b></span></td>
                                                    <td>@Html.TextBoxFor(x => x.claimHeader.GrossTotal, new { @class = "form-control input-sm", @readonly = "readonly" })</td>
                                                    <td></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-xs btn-primary btn-sm waves-effect"
                                style="padding-left: 5px;margin-top: 20px;" onclick="SaveTravelClaim()">
                            Save
                        </button>
                    </div>

                </div>
            </div>
        </div>

    }
    @using (Html.BeginForm("DeleteTravelClaim", "Payroll", FormMethod.Post, new { @id = "frmClaimDelete", name = "frmClaimDelete" }))
    {
        <input type="hidden" id="detailId" name="detailId" />
        <input type="hidden" id="headerId" name="headerId" />

    }

</div>
@section Scripts{
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
          rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
            type="text/javascript"></script>
    <script type="text/javascript">

        @{
            if(Model.claimHeader.TravelClaimId!=0)
            {
                var varArr = Model.claimHeader.CountryVisited;
                var result = varArr.Split(',');
                for (var i=0; i < result.Length; i++)
                {
                    <text>
        $options = $('#claimHeader_CountryVisited option');
        $options.filter('[value="@result[i]"]').prop('selected', true);
        </text>
                }
            }

        }

        $(document).ready(function () {
            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right',

                },
                format: dateFormat
            });

            $("#FromDate").on("dp.change", function (e) {
                $('#ToDate').data("DateTimePicker").minDate(e.date);
                //$('#TravelDate').data("DateTimePicker").minDate(e.date);
            });
            //$("#ToDate").on("dp.change",function(e){
            //    $('#TravelDate').data("DateTimePicker").maxDate(e.date);
            //})
           



            $('#frmClaim').validate({
                rules: {
                    'claimHeader.Name': {
                        required: true
                    },

                    'claimHeader.FromDate': {
                        required: true
                    },
                    'claimHeader.ToDate': {
                        required: true
                    },
                    'claimHeader.CountryVisited': {
                        required: true
                    },
                    'claimHeader.NoOfDays': {
                        required: true
                    },
                    'claimDetail.Category': {
                        required: true
                    },
                    'claimDetail.Currency': {
                        required: true
                    }
                }
            });

            $('#claimHeader_CountryVisited').multiselect({
                includeSelectAllOption: true
            });

        });
        function SaveAndGetData() {
            if ($('#frmClaim').valid()) {
                $('#frmClaim').submit();
            }
        }

        function SaveTravelClaim() {
            if ($('#frmClaim').valid()) {
                $('#frmClaim').attr('action', '@Url.Content("~/Payroll/TravelClaimSave")');
                $('#frmClaim').submit();
            }
        }

        function CalculateTotal(obj) {
            var index = $(obj).data('index') == undefined ? obj : $(obj).data('index');
            var amount = parseFloat($('#claimDetail_' + index + '__Amount').val());
            var exrate = isNaN($('select#claimDetail_' + index + '__Currency option:selected').val()) ? 1 : parseFloat($('select#claimDetail_' + index + '__Currency option:selected').val());
            $('#claimDetail_' + index + '__ExchangeRate').val(exrate);
            if (isNaN(amount)) {
                amount = 0;
            }
            var exchangeRate = parseFloat($('#claimDetail_' + index + '__ExchangeRate').val());
            if (isNaN(exchangeRate)) {
                exchangeRate = 1;
            }
            var Total = amount * exchangeRate;
            $('#claimDetail_' + index + '__TotalInSGD').val(Total.toFixed(2));

            var length = $('.cssLength').length;
            var grossTotal = 0;
            for (var i = 0; i < length; i++) {

                var grossVal = $('#claimDetail_' + i + '__TotalInSGD').val();
                if (grossVal != null && grossVal != "") {
                    grossTotal = parseFloat(grossTotal) + parseFloat(grossVal);
                }
                $('#claimHeader_GrossTotal').val(grossTotal.toFixed(2));
            }
        }

        function deleteClaimDetail(detailId, index) {
            var headerId = $('#claimHeader_TravelClaimId').val();
            var length = $('.cssLength').length;
            if (length > 1) {
                if (detailId != undefined && detailId != null && detailId != 0) {
                    $('#headerId').val(headerId);
                    $('#detailId').val(detailId);

                    $('#frmClaimDelete').submit();
                }
                else {
                    $('#tr_' + index).remove();
                    CalculateTotal(index);
                }
            }
            else {
                swal("Message!", "You can not delete because one row should be mandatory");
            }
        }
    </script>

}